{% extends "baseTemplate.html.twig" %}

{% block title %}
	Modifier Utilisateur
{% endblock %}

{% block breadCrumb %}{% endblock %}

{% block content %}
	<div class="container my-4">
		<div class="card">
			<div class="card-body">
				<div class="container">
					<h2 class="perso-titre">
						Formulaire Modification Utilisateur
					</h2>
					<a href="{{path("utilisateur_index")}}" class="btn btn-sm  text-white my-3 fw-bold" style="background-color: #FBBB01;">Liste des utilisateurs</a>
					{{ form_start(form) }}
					{{ form_errors(form)}}
					<div class="row">
						<div class="col-4 col-md-4">
							{{ form_row(form.personnel, {'attr': {'class': 'selectPersonnel form-control'}}) }}
						</div>
						<div class="col-4 col-md-4">
							{{ form_row(form.username, {'attr': {'class': 'selectUser form-control'}}) }}
						</div>
						<div class="col-4 col-md-4">
							{{ form_row(form.email) }}
						</div>
					</div>
					<div class="row">
						<div class="col-12 col-md-12">
							{{ form_row(form.profils, {'attr': {'class': 'selectProfils form-control'}}) }}
						</div>
					</div>
					<button type="submit" class="btn btn-primary">
						<i class="fas fa-save"></i>
						Enregistrer
					</button>
					{{ form_end(form) }}
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block javascript %}
	<script src="{{ App.base_path }}/Views/js/admin/utilisateur/user.js?v=2025.10.22.08.00" type="module"></script>
{% endblock %}
