{% extends 'baseTemplate.html.twig' %}

{% block nav %}{% endblock %}

{% block title %}
	Détail sur le ticket
{% endblock %}

{% block stylesheets %}
	<link href="{{ App.base_path }}/Views/css/new.css?v=2025.10.22.08.00" rel="stylesheet"/>
	<link href="{{ App.base_path }}/Views/css/tik/detailTik.css?v=2025.10.22.08.00" rel="stylesheet"/>
	<link href="{{ App.base_path }}/Views/css/tik/supportInfo.css?v=2025.10.22.08.00" rel="stylesheet">
{% endblock %}

{% import "macroForm.html.twig" as macroForm %}

{% block content %}
<div class=" container-fluid mt-4">
	<nav>
		<div class="onglet-head nav nav-tabs mx-2" id="nav-tab" role="tablist">
			<button class="nav-link active" id="nav-detail-tab" data-bs-toggle="tab" data-bs-target="#nav-detail" type="button" role="tab" aria-controls="nav-detail" aria-selected="true">Détail</button>
			<button class="nav-link" id="nav-statutComm-tab" data-bs-toggle="tab" data-bs-target="#nav-statutComm" type="button" role="tab" aria-controls="nav-statutComm" aria-selected="false">Statut et commentaires</button>
		</div>
	</nav>
	<div class="card mb-3 mx-2 border-top-left-radius-0">
		<div class="card-body">
			<div class="tab-content p-3 border bg-light" id="nav-tabContent">
				<div class="tab-pane fade active show" id="nav-detail" role="tabpanel" aria-labelledby="nav-detail-tab">
					<div class="row">
						<div class="col-12 col-md-11">
							<h3 class="perso-titre">
								Détail du ticket
							</h3>
						</div>

						<div class=" col-12 col-md-1">
							<a href="{{ path("liste_tik_index")}}" class="tablinks p-2 btn btn-outline-warning" style="text-decoration: none;color:black">Retour</a>
						</div>
					</div>

					{# DEBUT PARTIE POUR DETAILS SEULEMENT #}
					<div
						class="row">
						{# DEBUT COLONNE 1 #}
						<div
							class="col-12 col-md-6">
							{# DEBUT TKI #}
							{{ macroForm.sousTitre('Ticket', {class: 'sousTitre'})}}
							<div class="row">
								<div class="col-12 col-md-3">
									{{ macroForm.affichage('Numéro du ticket', tik.numeroTicket) }}
								</div>
								<div class="col-12 col-md-3">
									{% set classeStatutTik = '' %}

									{% if tik.idStatutDemande.description | trim == 'OUVERT' %}
										{% set classeStatutTik ='ouvert' %}
									{% elseif tik.idStatutDemande.description | trim == 'REFUSE'  %}
										{% set classeStatutTik ='refuse' %}
									{% elseif tik.idStatutDemande.description | trim == 'EN ATTENTE' %}
										{% set classeStatutTik ='enattente' %}
									{% elseif  tik.idStatutDemande.description | trim == 'ENCOURS' %}
										{% set classeStatutTik ='encours' %}
									{% elseif tik.idStatutDemande.description | trim == 'PLANIFIE' %}
										{% set classeStatutTik ='planifie' %}
									{% elseif tik.idStatutDemande.description | trim == 'RESOLU' %}
										{% set classeStatutTik ='resolu' %}
									{% elseif tik.idStatutDemande.description | trim == 'REOUVERT' %}
										{% set classeStatutTik ='reouvert' %}
									{% elseif tik.idStatutDemande.description | trim == 'CLÔTURE' %}
										{% set classeStatutTik ='cloture' %}
									{% else %}
										{% set classeStatutTik = '' %}
									{% endif %}

									{{ macroForm.affichage2('Statut du ticket', classeStatutTik, tik.idStatutDemande.description) }}
								</div>
								<div class="col-12 col-md-3">
									{{ macroForm.affichage('Date de création', tik.dateCreation|date('d/m/Y')) }}
								</div>
								<div class="col-12 col-md-3">
									{{ macroForm.affichage('Date de fin souhaitée', tik.dateFinSouhaitee|date('d/m/Y')) }}
								</div>
							</div>
							{# FIN TKI #}

							{# DEBUT DEMANDE #}
							{{ macroForm.sousTitre('Demande', {class: 'sousTitre'})}}
							<div class="row">
								<div class="col-12 col-md-4">
									{{ macroForm.affichage('Nom du demandeur', tik.utilisateurDemandeur) }}
								</div>
								<div class="col-12 col-md-4">
									{{ macroForm.affichage('Email du demandeur', tik.mailDemandeur, 'emailDemandeur') }}
								</div>
								<div class="col-12 col-md-4">
									{{ macroForm.affichage('N° parc PC', tik.parcInformatique) }}
								</div>
							</div>
							<div class="col-12 col-md-12">
								{{ macroForm.affichage('Objet de la demande', tik.objetDemande) }}
							</div>
							<div class="col-12 col-md-12">
								{{ macroForm.affichageHTML('Détail de la demande', tik.detailDemande) }}
							</div>
							{# FIN DEMANDE #}
						</div>
						{# FIN COLONNE 1 #}

						{# DEBUT COLONNE 2 #}
						<div class="col-12 col-md-6">
							<div class="row">
								<div class="col-12 col-md-3">
									{{ macroForm.sousTitre('Société', {class: 'sousTitre'})}}

									{{ macroForm.affichage('Code société', tik.codeSociete)}}
								</div>
								<div
									class="col-12 col-md-9">
									{# DEBUT Agence et service #}
									{{ macroForm.sousTitre('Agence et Service', {class: 'sousTitre'})}}
									<div class="row">
										<div class="col-12 col-md-6">
											{{ macroForm.affichage('Débiteur', tik.agenceServiceDebiteur)}}
										</div>
										<div class="col-12 col-md-6">
											{{ macroForm.affichage('Emetteur', tik.agenceServiceEmetteur)}}
										</div>
									</div>
									{# FIN Agence et service #}
								</div>
							</div>

							{# DEBUT Pièces Jointes #}
							{{ macroForm.sousTitre('Pièces Jointes', {class: 'sousTitre'})}}

							{% if tik.fileNames is empty %}
								<div class="mt-2 d-flex align-items-center pt-1 fw-bold" style="min-height: 22px;">
									Pas de pièces jointes
								</div>
							{% else %}
								{% for fileName in tik.fileNames %}
									{{ macroForm.affichageFileDownload('Pièce jointe ' ~ loop.index|format('02d'), fileName.name, '/Upload/tik/fichiers')}}
								{% endfor %}
							{% endif %}

							{# FIN Pièces Jointes #}
						</div>
						{# FIN COLONNE 2 #}
					</div>

					{# FIN PARTIE POUR DETAILS SEULEMENT #}

					{# DEBUT PARTIE POUR VALIDATEUR OU INTERVENANT #}

					{% if autoriser %}
						{# DEBUT FORMULAIRE POUR VALIDATEUR OU INTERVENANT #}
						{{ form_start(form, {'attr':{'id':'formTik'}}
						) }}
						<div
							class="row">
							{# DEBUT COLONNE 1 #}
							<div class="col-12 col-md-6">
								<div
									class="row">
									{# DEBUT Intervention #}
									{{ macroForm.sousTitre('Intervention', {class: 'sousTitre'})}}
									<div class="col-12 col-md-4">
										{{ form_row(form.categorie) }}

										{{ macroForm.spinner_load('spinner-sous-categorie', 'sous-categorie-container', form.sousCategorie) }}

										{{ macroForm.spinner_load('spinner-autre-categorie', 'autre-categorie-container', form.autresCategorie) }}

									</div>
									<div class="col-12 col-md-4">
										<div class="mb-3">
											{{ form_label(form.niveauUrgence, '<a href="#" data-bs-toggle="modal" data-bs-target="#niveauUrgence" >Niveau d\'urgence</a>', { 'label_html': true }) }}
											{{ form_widget(form.niveauUrgence) }}
										</div>
										
										{{form_row(form.intervenant)}}
										
										{% include "tik/demandeSupportInformatique/shared/_userStat.html.twig" %}
										
										<div class="error-message error-message-intervenant text-bg-danger rounded p-2">
											Vous ne pouvez transférer le ticket à vous-même. Veuillez changer.
										</div>
									</div>
									<div class="col-12 col-md-4">
										{{form_row(form.partOfDay)}}
										{{form_row(form.dateDebutPlanning)}}
										{{form_row(form.dateFinPlanning)}}
										<div class="error-message error-message-date text-bg-danger rounded p-2"></div>
									</div>
									{# FIN Intervention #}
								</div>
							</div>
							{# FIN COLONNE 1 #}

							{# DEBUT COLONNE 2 #}
							<div class="col-12 col-md-6">
								{% if validateur and statutOuvert %}
									{# DEBUT Observation Ticket #}
									{% set name = 'Commentaire Ticket' %}
								{% else %}
									{# DEBUT Résolution Ticket #}
									{% set name = 'Résolution Ticket' %}
								{% endif %}

								{% set option = {'id':'commentaire'} %}
								{{ macroForm.sousTitre2(name, option) }}
								{{ form_label(form.commentaires) }}
								{{ form_widget(form.commentaires) }}
							</div>
							{# FIN COLONNE 2 #}
						</div>
						<div class="d-flex justify-content-end">
							
							{% if validateur and statutOuvert %}
								{# BOUTONS POUR VALIDATEUR #}
								<button type="submit" class="btn bouton text-white bg-danger" name="refuser" id="btn_refuser">
									<i class="fas fa-xmark"></i>
									Réfuser
								</button>
								<button type="submit" class="btn bouton mx-3" name="commenter" id="btn_commenter">
									<i class="fas fa-paper-plane"></i>
									Envoyer commentaire
								</button>
								<button type="submit" class="btn bouton" name="valider" id="btn_valider">
									<i class="fas fa-check"></i>
									Valider
								</button>

							{% elseif intervenant %}

								{# BOUTONS POUR INTERVENANT #}
								<button type="submit" class="btn bouton" name="resoudre" id="btn_resoudre">
									<i class="fas fa-check"></i>
									Résoudre
								</button>
								<button type="submit" class="btn bouton mx-3 text-white bg-black" data-intervenant="{{ connectedUser.id }}" name="transferer" id="btn_transferer">
									<i class="fas fa-arrows-turn-right"></i>
									Transférer
								</button>
								<button type="submit" class="btn bouton" name="planifier" id="btn_planifier">
									<i class="fas fa-calendar"></i>
									Planifier
								</button>

							{% endif %}
						</div>
						{{ form_end(form) }}
						{# FIN FORMULAIRE POUR VALIDATEUR OU INTERVENANT #}
						{% endif %}
						{# FIN PARTIE POUR VALIDATEUR OU INTERVENANT #}
				</div>
				<div class="tab-pane fade" id="nav-statutComm" role="tabpanel" aria-labelledby="nav-statutComm-tab">
					<div class="row">
						<div class="col-4">
							{{ include('tik/demandeSupportInformatique/shared/_statutTicket.html.twig', { items: historiqueStatut }) }}
						</div>
						<div class="col-8">
							{{ include('tik/demandeSupportInformatique/shared/_commentaire.html.twig', { items: commentaires, connectedUser: connectedUser, form: formCommentaire, canComment: canComment }) }}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	{% include "/tik/demandeSupportInformatique/shared/_modalNiveauUrgence.html.twig"  %}

{% endblock %}

{% block javascript %}
	{% if validateur and statutOuvert %} 
		<script type="module" src="{{ App.base_path }}/Views/js/tik/tikDetailValidateur.js?v=2025.10.22.08.00"></script>
	{% else %}
		<script type="module" src="{{ App.base_path }}/Views/js/tik/tikDetailIntervenant.js?v=2025.10.22.08.00"></script>
	{% endif %}
	
	<script>
		const div = document.getElementById('emailDemandeur');
const originalText = div.textContent;
// Vérifie si le texte dépasse
if (div.scrollWidth > div.clientWidth) {
let truncatedText = originalText;
while (div.scrollWidth > div.clientWidth) {
truncatedText = truncatedText.slice(0, -1); // Retire un caractère
div.textContent = truncatedText + '...'; // Ajoute les points de suspension
}
}
	</script>
{% endblock %}
