<div class="accordion" id="formAccordion">
	<div class="accordion-item">
		<h2 class="accordion-header">
			<button class="accordion-button enteteAccordion" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
				Formulaire de recherche
			</button>
		</h2>
		<div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
			<div class="accordion-body">
				{{ form_start(form, { 'attr': { 'id': 'detailInvenatire_search_form' } }) }}

				<div class="row mb-3" style="overflow-y: auto; max-height: 300px;">
					<div class="col-12 col-md-2">
						{{form_row(form.agence)}}
					</div>
					<div class="col-12 col-md-3">
						{{form_label(form.InventaireDispo)}}
						<div class="form-check-all">
							<input type="checkbox" id="detailInventaire_search_service_all" class="form-check-input-all">
							<label class="form-check-label" for="detailInventaire_search_service_all">Tout séléctionner</label>
						</div>
						{{ form_widget(form.InventaireDispo) }}
					</div>
					<div class="col-12 col-md-2">
						{{form_row(form.dateDebut)}}
					</div>
					<div class="col-12 col-md-2">
						{{form_row(form.dateFin)}}
					</div>
				</div>
			</class>
			<div class="d-flex justify-content-end mb-2">
				<button class="btn btn-warning fw-bold" id="btn_search" type="submit">
					<i class="fab fa-searchengin"></i>
					Recherche</button>
			</div>
			{{ form_end(form)}}
		</div>
	</div>
</div></div>
