{% extends 'baseTemplate.html.twig' %}

{% block title %}
	Liste inventaire
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ App.base_path }}/Views/css/list.css?v=2025.10.22.08.00"/>
	<link rel="stylesheet" href="{{ App.base_path }}/Views/css/inventaire/liste.css?v=2025.10.22.08.00"/>
{% endblock %}

{% block overlay %}
	{% include "/shared/_overlay.html.twig"  %}
{% endblock %}

{% block content %}
	<div class="sticky-header-titre">
		<div class="container">
			{% include '/inventaire/_formulaire.html.twig' %}
			<div class="d-flex justify-content-between">
				<a href="{{path("export_liste_inventaire")}}" id="excelInventaire" name="excelinvenatire" class="btn btn bg-success text-white my-3 fw-bold">
					<i class="fas fa-table"></i>
					Excel</a>
			</div>
		</div>
	</div>
	<table class="table table-sticky">
		<thead class="table-dark position-sticky">
			<tr class="total">
				<th>
					TOTAL
				</th>
				<th></th>
				<th style="text-align: center;">{{ data.data|length == 0 ? "" : data.data|length }}</th>
				<th></th>
				<th></th>
				<th></th>
				<th></th>
				<th></th>
				<th style="text-align: center;">{{ data.sum.nbr_casier }}</th>
				<th style="text-align: center;">{{ data.sum.nbr_ref }}</th>
				<th style="text-align: center;">{{ data.sum.qte_comptee }}</th>
				<th></th>
				<th style="text-align: right;">{{ data.sum.montant|number_format(0, '', ' ')  == 0 ? "" : data.sum.montant|number_format(0, '', ' ')}}</th>
				<th style="text-align: center;">{{ data.sum.nbre_ref_ecarts_positif |number_format(0, '', ' ') }}</th>
				<th style="text-align: center;">{{ data.sum.nbre_ref_ecarts_negatifs |number_format(0, '', ' ') }}</th>
				<th style="text-align: center;">{{ data.sum.total_nbre_ref_ecarts |number_format(0, '', ' ') }}</th>
				<th style="text-align: center;">{{ data.sum.pourcentage_ref_avec_ecart is  null  ?"": data.sum.pourcentage_ref_avec_ecart|round() ~'%'}}
				</th>
				<th style="text-align: right;">{{ data.sum.montant_ecart |number_format(0, '', ' ')  == 0 ? "" :  data.sum.montant_ecart |number_format(0, '', ' ')}}</th>
				<th style="text-align: center;">{{ data.sum.pourcentage_ecart is  null  ?"": data.sum.pourcentage_ecart|round(2)  ~'%'}}
				</th>
			</tr>
			<tr>

				<th>
					<i class="fas fa-ellipsis-vertical"></i>
				</th>
				<th class="text-center">Fichier d'analyse</th>
				<th class="text-center">Saisie compte</th>
				<th class="text-center">Comptage encours</th>
				<th class="text-center">Numéro</th>
				<th class="text-center">Description</th>
				<th class="text-center">Ouvert le</th>
				<th class="text-center">Clôturer le</th>
				<th class="text-center">Nbr casier</th>
				<th class="text-center">Nbr Ref</th>
				<th class="text-center">Qté comptée</th>
				<th class="text-center">Statut</th>
				<th class="text-center">Montant</th>
				<th class="text-center">Nbr Ref écart > 0</th>
				<th class="text-center">Nbr Ref écart < 0</th>
				<th class="text-center">Nbr Ref en écart</th>
				<th class="text-center">% Ref avec écart</th>
				<th class="text-center">Mont. écart</th>
				<th class="text-center">% écart</th>
			</tr>
		</thead>
		<tbody id="tableBody">
			{% for item in data.data %}
				<tr>
					{# Début Action #}
					<td class="align-middle" style="padding: 0px">
						<div class="dropdown">
							<button class="btn btn-sm me-1 dropdown-toggle trois-points-vertical" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
								<i class="fas fa-ellipsis-vertical"></i>
							</button>
							<ul class="dropdown-menu dropdown-menu-end" id="dropdown-menu" aria-labelledby="dropdownMenuButton" style="">
								<li>
									<a class="dropdown-item fw-bold" href="{{path('detail_inventaire',{numinv : item.numero})}}" target="_blank">
										Voir détails des écarts</a>
								</li>
								<li>
									{% if item.statut | trim != "CLOTURE" %}
										<a class="dropdown-item fw-bold" href="{{path('bordereu_comptage',{numInv : item.numero})}}" target="_blank">Impression feuille de comptage</a>
									{% endif %}
								</li>
								{% if item.excel %}
									<li>
										<a class="dropdown-item fw-bold" href="{{path('export_download_file',{'filename':'INV_'~item.numero~'.xlsx'}) }}" target="_blank">Voir fichier</a>
									</li>
								{% elseif estAcces %}
									<li>
										<input type="file" accept=".xlsx" class="input-file-analyse" data-upload-url="{{ path('api_upload_fichier_inventaire', {'numInv': item.numero}) }}" style="display: none;">
										<a class="dropdown-item fw-bold upload-fichier-analyse" role="button">Upload fichier d'analyse</a>
									</li>
								{% endif %}
								{% if item.excel and estAcces %}
									<li>
										<a class="dropdown-item fw-bold delete-fichier-analyse" role="button" data-delete-url="{{ path('api_delete_fichier_inventaire', {'numInv': item.numero}) }}">Supprimer fichier d'analyse</a>
									</li>
								{% endif %}

							</ul>
						</div>
					</td>
					{# Fin Actions #}
					<td style="text-align: center;">{{ item.excel ? "OUI" : "NON" }}</td>
					<td style="text-align: center;">{{item.saisie_compte}}</td>
					<td style="text-align: center;">{{item.compte_cours}}</td>
					<td style="text-align: center;">{{item.numero}}</td>
					<td>{{item.description}}</td>
					<td style="text-align: center;">{{item.ouvert}}</td>
					<td style="text-align: center;">{{item.dateClo}}</td>
					<td style="text-align: center;">{{item.nbr_casier}}</td>
					<td style="text-align: center;">{{item.nbr_ref}}</td>
					<td style="text-align: center;">{{item.qte_comptee}}</td>
					<td>{{item.statut}}</td>
					<td style="text-align: right;">{{item.montant |number_format(0, '', ' ')}}</td>
					<td style="text-align: center;">{{item.nbre_ref_ecarts_positif is same as("0") ?"" : item.nbre_ref_ecarts_positif }}</td>
					<td style="text-align: center;">{{item.nbre_ref_ecarts_negatifs is same as("0") ?"" : item.nbre_ref_ecarts_negatifs}}</td>
					<td style="text-align: center;">{{item.total_nbre_ref_ecarts is same as("0") ?"": item.total_nbre_ref_ecarts }}</td>
					<td style="text-align: center;">{{item.pourcentage_ref_avec_ecart is same as("0") ?"" : item.pourcentage_ref_avec_ecart ~ ' %'}}</td>
					<td style="text-align: right;">{{item.montant_ecart is same as("0")?"":item.montant_ecart |number_format(0, '', ' ') }}</td>
					<td style="text-align: center;">{{item.pourcentage_ecart  is same as("0") ?"" : item.pourcentage_ecart ~ ' %'}}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}

{% block javascript %}
	<script src="{{ App.base_path }}/Views/js/utils/positionSticky.js?v=2025.10.22.08.00"></script>
	<script src="{{ App.base_path }}/Views/js/inventaire/inventaireAg.js?v=2025.10.22.08.00" type="module"></script>
{% endblock %}
