{% extends "baseTemplate.html.twig" %}

{% block title %}
	Soumission Bon de Livraison
{% endblock %}

{% block stylesheets %}
	<link href="{{ App.base_path }}/Views/css/new.css?v=2025.10.22.08.00" rel="stylesheet"/>
	<link href="{{ App.base_path }}/Views/css/bl/blsoumission.css?v=2025.10.22.08.00" rel="stylesheet"/>
{% endblock %}

{% import "macroForm.html.twig" as macroForm %}

{% block content %}
	<div class="mt-6 mb-4 container-fluid">
		<div class="row">
			<div class="col-12 col-md-6">
				<div class="card">
					<div class="card-body">
						<div class="container">
							<div class="row">
								<div class="col-12 col-md-11">
									<h3 class="perso-titre">
										SOUMISSION BON DE LIVRAISON
									</h3>
								</div>
								<div class=" col-12 col-md-1">
									<a href="{{ path("profil_acceuil")}}" class="tablinks p-2 btn btn-outline-warning " style="text-decoration: none;color:black">Retour</a>
								</div>
							</div>
							{{ form_start(form, {'attr': {'enctype': 'multipart/form-data', 'id': 'myForm'}}) }}
							{{ form_errors(form)}}
							<div class="row">
								<div class="col-12 col-md-3">{{ macroForm.affichage2('Date', date()|date('d/m/Y'), 'mb-2')
								}}</div>
								<div class="col-12 col-md-3">{{ form_row(form.typeBl) }}</div>
							</div>
							<div class="row">
								<div class="col-12 col-md-6">
									<p>Veuillez insérer
										<strong>le BL à soumettre *</strong>
									</p>
									{% include '/partials/_dropZoneFile.html.twig' with {'id': '1', 'form': form,
								'fieldName': 'pieceJoint1'} %}
								</div>
							</div>
							<div class="d-flex justify-content-start">
								<button type="submit" class="btn bouton mt-2" data-confirmation data-form="#myForm" data-confirmation-message="Confirmez-vous l'envoi ?" data-confirmation-text="Vous êtes en train de soumettre une bon de livraison à validation dans DocuWare" data-warning-message="Merci de ne pas fermer la page pendant le traitement.">
									<i class="fas fa-save"></i>
									Enregistrer
								</button>
							</div>
							{{ form_end(form) }}
						</div>
					</div>
				</div>
			</div>
			<div class="col-12 col-md-6">
				<div id="file-viewer">
					<div class="card">
						<div class="card-header perso-titre text-uppercase">Aperçu du Bon de Livraison</div>
						<div class="card-body">
							<div id="file-list-1"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block javascript %}
	<script src="{{ App.base_path }}/Views/js/bl/blsoumission.js?v=2025.10.22.08.00" type="module"></script>
{% endblock %}
