{% extends "baseTemplate.html.twig"%}

{% block title %}
	{{ pageTitle }}
{% endblock %}

{% block stylesheets %}{% endblock %}

{% block overlay %}
	{% include "/shared/_overlay.html.twig" %}
{% endblock %}

{% block content %}
	<div id="bandeau" class="container-fluid" data-bg-color="{{ bgColor }}"></div>
	<div class="container text-center mb-4" style="margin-top:-3.5rem;">
		<iframe id="iframeDW" src="{{ url }}" frameborder="0" style="height:{{ height }}px;" width="100%"></iframe>
	</div>
{% endblock %}

{% block javascript %}
	<script src="{{ App.base_path }}/Views/js/formsDw/bg-color.js?v=2025.10.22.08.00" type="module"></script>
{% endblock %}
