<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>{{ subject }}</title>
		<style>{{include('da/email/shared/css/style.css')}}</style>
	</head>
	<body>
		<div class="email-container">
			<div class="email-header">{{ header|raw }}</div>
			<div class="email-body">
				<p>Bonjour {{ nomDemandeur }},</p>
				{{ include('da/email/shared/_body.' ~ templateName ~ '.html.twig') }}
				{% if urlDetail %}
					<p>
						Pour consulter les détails de la demande, veuillez cliquer sur le bouton ci-dessous:
						<br>
						<a href="{{ urlDetail }}" class="button">Détail de la demande</a>
					</p>
					<p>
						<span class="fw-bold">NB:</span>
						Assurez-vous d’être connecté à
						<a href="{{ urlIntranet }}">Hffintranet</a>
						avant de cliquer sur le bouton.
					</p>
				{% endif %}
				<p class="fw-bold">Cordialement,</p>
			</div>
			<div class="email-footer">
				Service
				{{ service }}
				- Henri Fraise Fis & Cie
				<br>
				&copy;
				{{ dateYear }}
				Henri Fraise Fis & cie.
			</div>
		</div>
	</body>
</html>
