<div class="d-flex justify-content-between">
	<div>
		<a href="{{ path("export_dom_excel")}}" class="btn btn-sm bg-success text-white my-3 fw-bold afficher-overlay">
			<i class="fas fa-table"></i>
			Excel
		</a>

		<a href="{{ path("dom_list_annuler")}}" class="btn btn-sm bg-danger text-white my-3 fw-bold">Listes Annulés</a>
		<a href="{{ path("doms_liste")}}" class="btn btn-sm bg-warning text-white my-3 fw-bold">Listes</a>
	</div>
	<div>
		<p class="fw-bold my-3" id="nombreResultat">{{resultat}}
			Résultats</p>
	</div>
	<div>
		<p class="fw-bold my-3" id="nombreResultat">{{currentPage ~' / '~ (lastPage)}}
			pages</p>
	</div>
	<div class="navigation">
		{% set queryParams = criteria  %}

		{% if currentPage > 1 %}
			<a class="btn btn-dark my-3" href="{{ path(page, queryParams|merge({'page': 1})) }}" data-bs-toggle="tooltip" title="Première page">
				<i class="fas fa-angle-double-left text-warning"></i>
			</a>
		{% endif %}

		{% if currentPage > 1 %}
			<a class="btn btn-dark my-3" href="{{ path(page, queryParams|merge({'page': currentPage - 1})) }}" data-bs-toggle="tooltip" title="Page précédente">
				<i class="fas fa-angle-left text-warning"></i>
			</a>
		{% endif %}

		{% if currentPage < lastPage %}
			<a class="btn btn-dark" href="{{ path(page, queryParams|merge({'page': currentPage + 1})) }}" data-bs-toggle="tooltip" title="Page suivante">
				<i class="fas fa-angle-right text-warning"></i>
			</a>
		{% endif %}

		{% if currentPage < lastPage %}
			<a class="btn btn-dark my-3" href="{{ path(page, queryParams|merge({'page': lastPage})) }}" data-bs-toggle="tooltip" title="Dernière page">
				<i class="fas fa-angle-double-right text-warning"></i>
			</a>
		{% endif %}
	</div>
</div>
