{% extends "baseTemplate.html.twig" %}

{% block title %}
	Applications
{% endblock %}

{% block breadCrumb %}{% endblock %}

{% block content %}
	<div class="container my-4">
		<div class="card">
			<div class="card-body">
				<h3 class="perso-titre">
					Liste des Applications
				</h3>
				<a href="{{ path("application_new")}}" class="btn btn-success fw-bold my-3">
					Ajouter nouvelle application
				</a>
				<a href="{{ path("vignette_index")}}" class="btn btn-primary fw-bold my-3 ms-2">
					Liste des vignettes
				</a>
				<a href="{{ path("profil_index")}}" class="btn btn-primary fw-bold my-3 ms-2">
					Liste des profils
				</a>
				<a href="{{ path("page_hff_index")}}" class="btn btn-primary fw-bold my-3 ms-2">
					Liste des pages
				</a>
				<table class="table">
					<thead class="table-dark align-middle">
						<tr>
							<th>Actions</th>
							<th>Code App</th>
							<th>Nom de l'application</th>
							<th>Dernière numéro</th>
							<th>Vignette mère</th>
							<th>Page(s) associée(s) à l'application</th>
						</tr>
					</thead>
					<tbody id="tableBody" class="align-middle">
						{% for row in data %}
							<tr>
								<td>
									<div class="dropdown">
										<button class="btn btn-warning dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false" style="text-decoration: none; color: #000; font-weight: 700">
											Actions
										</button>
										<ul class="dropdown-menu dropdown-menu-end" id="dropdown-menu" aria-labelledby="dropdownMenuButton" style="">
											<li>
												<a class="dropdown-item fw-bold" href="{{ row.urlUpdate }}">Modifier</a>
											</li>
											<li>
												<a class="dropdown-item fw-bold" style="color: red;" href="{{ row.urlDelete }}">Supprimer</a>
											</li>
										</ul>
									</div>
								</td>
								<td>{{ row.codeApp }}</td>
								<td>{{ row.nom }}</td>
								<td>{{ row.derniereId }}</td>
								<td>{{ row.vignette }}</td>
								<td>{{ row.pageName }}</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
{% endblock %}

{% block javascript %}
	<script src="{{ App.base_path }}/Views/js/admin/application/list.js?v=2025.10.22.08.00" type="module"></script>
{% endblock %}
