{% extends "baseTemplate.html.twig" %}

{% block title %}
	Liste Mutation
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ App.base_path }}/Views/css/list.css?v=2025.10.22.08.00">
{% endblock %}

{# {% import "macroForm.html.twig" as form %} #}

{% block content %}
	{# {% include "/partials/_loader.html.twig" %} #}

	<div class="container mt-6 mb-4">
		<h3 class="perso-titre">
			Liste de Demande de mutation
		</h3>
		{% include "/partials/_notification.html.twig" %}
		{% include "/mutation/shared/_formulaireRecherche.html.twig" %}
		{% include "/mutation/shared/_pagination.html.twig" %}
	</div>


	<div class="container-fluid">
		<table class="table rounded table-plein-ecran">
			<thead class="table-dark">
				<tr>
					<th>Statut</th>
					<th>N° MUT</th>
					<th>Date de demande</th>
					<th>Motif de mutation</th>
					<th class="text-center">Matricule</th>
					<th>Agence - Service (Origine)</th>
					<th>Agence - Service (Destination)</th>
					<th>Date de début de mutation</th>
					<th>Client</th>
					<th>Lieu de mutation</th>
					<th>Total général payer</th>
					<th>Devis</th>
				</tr>
			</thead>
			<tbody>
				{% for item in data %}

					{% set classeStatutDom = '' %}
					{% set styleStatutDom = '' %}
					{% set styleStatutDom = '' %}

					{% if item.statutDemande.description | trim == 'OUVERT' %}
						{% set classeStatutDom ='bg-warning bg-gradient text-cente' %}
					{% elseif item.statutDemande.description | trim == 'PAYE'  %}
						{% set classeStatutDom ='bg-success bg-gradient' %}
					{% elseif  item.statutDemande.description | trim == 'ATTENTE PAIEMENT' %}
						{% set classeStatutDom ='bg-success' %}
						{% set styleStatutDom = '--bs-bg-opacity: .5;' %}
					{% elseif item.statutDemande.description | trim == 'CONTROLE SERVICE' %}
						{% set classeStatutDom ='bg-info' %}
					{% elseif item.statutDemande.description | trim == 'A VALIDER SERVICE EMETTEUR' %}
						{% set classeStatutDom ='bg-primary' %}
						{% set styleStatutDom = '--bs-bg-opacity: .5;' %}
					{% elseif item.statutDemande.description | trim == 'VALIDE' or item.statutDemande.description | trim == 'VALIDE COMPTABILITE' or item.statutDemande.description | trim == 'VALIDATION RH' or item.statutDemande.description | trim == 'VALIDATION DG'%}
						{% set classeStatutDom ='bg-success' %}
					{% elseif item.statutDemande.description | trim == 'ANNULE CHEF DE SERVICE' or item.statutDemande.description | trim == 'ANNULE COMPTABILITE' or item.statutDemande.description | trim == 'ANNULE SECRETARIAT RH' or item.statutDemande.description | trim == 'ANNULE' %}
						{% set classeStatutDom ='bg-danger' %}
					{% else %}
						{% set classeStatutDom = '' %}
					{% endif %}

					<tr>

						{# DEBUT Statut #}
						<td class="{{classeStatutDom}}" style="{{styleStatutDom}}">{{ item.statutDemande.description}}</td>

						{# FIN Statut #}
						<td>
							<a href="{{ path("mutation_detail", {id:item.id})}}" target="_blank">
								{{ item.numeroMutation }}
							</a>
						</td>
						<td class="text-center">{{ item.dateDemande | date('d/m/Y')}}</td>
						<td>{{ item.motifMutation}}</td>
						<td class="text-center">{{ item.matricule }}</td>
						<td>{{ item.libelleCodeAgenceService}}</td>
						<td>{{ item.agenceDebiteur.libelleAgence }}-{{ item.serviceDebiteur.libelleService }}</td>
						<td class="text-center">{{ item.dateDebut | date('d/m/Y')}}</td>
						<td>{{ item.client}}</td>
						<td>{{ item.lieuMutation}}</td>
						<td class="text-end">{{ item.totalGeneralPayer }}</td>
						<td class="text-start">{{ item.devis}}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	<!-- FIN tableau -->


{% endblock %}

{% block javascript %}{% endblock %}
