<div class="accordion" id="formAccordion">
	<div class="accordion-item">
		<h2 class="accordion-header">
			<button class="accordion-button enteteAccordion" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
				Formulaire de recherche
			</button>
		</h2>
		<div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#formAccordion">
			<div class="accordion-body">
				{{ form_start(form, { 'attr': { 'id': 'planning_magasin_search_form' } }) }}

				<div class="row">
					<div
						class="col-12 col-md-2">
						{# {{form_row(form.agence)}} #}
						{{form_row(form.agenceDebite)}}
						{# {{form_row(form.interneExterne)}} #}
					</div>
					<div class="col-12 col-md-2">
						{{form_row(form.serviceDebite)}}
					</div>

					<div class="col-12 col-md-2">
						{{form_row(form.numOr)}}
						{{form_row(form.orBackOrder)}}
						{% if App.userConnecter.isAdmin %}
							{{form_row(form.orNonValiderDw)}}
						{% else %}
							{{form_row(form.orNonValiderDw, {'row_attr': {'class': 'd-none'}})}}
						{% endif %}
					</div>
					<div class="col-12 col-md-2">
						{{form_row(form.numeroDevis)}}
						{{form_row(form.numParc)}}
						<div id="suggestion-num-client" class="suggestions-container"></div>
						<div id="loader-num-client" class="spinner" style="display: none;">Chargement...</div>

					</div>
					<div class="col-12 col-md-2">
						{{form_row(form.commercial)}}
						<div id="suggestion-commercial" class="suggestions-container"></div>
						<div id="loader-commercial" class="spinner" style="display: none;">Chargement...</div>
						{{ form_row(form.months, {'label': 'Période', 'attr': {'class': 'form-select'}}) }}
					</div>
					<div class="col-12 col-md-2">
						{{form_row(form.refcde)}}
					</div>
				</div>
				<div class="d-flex justify-content-end mb-2">
					<button class="btn btn-warning fw-bold" id="btn_search" type="submit">
						<i class="fab fa-searchengin"></i>
						Recherche
					</button>
				</div>
			</div>
			{{ form_end(form)}}
		</div>
	</div>
</div>
