{% extends "baseTemplate.html.twig" %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ App.base_path }}/Views/css/list.css?v=2025.10.22.08.00">
	<link rel="stylesheet" href="{{ App.base_path }}/Views/css/ddp/liste.css?v=2025.10.22.08.00">
{% endblock %}

{% import "macroForm.html.twig" as macroForm %}

{% block content %}
	<div class="sticky-header-titre">
		<div class="container">
			{% include "/partials/_notification.html.twig" %}
			{% include "/ddp/shared/_formulaireRecherche.html.twig"%}
		</div>
	</div>
	<div class="container-fluid">
		<table class="table table-sticky">
			<thead class="table-dark align-middle">
				<tr>
					<th>
						<i class="fas fa-ellipsis-vertical"></i>
					</th>
					<th style="text-align: center;">Agence débité</th>
					<th style="text-align: center;">Service débité</th>
					<th style="text-align: center;">N° demande</th>
					<th style="text-align: center;">version</th>
					<th style="text-align: center;">Type</th>
					<th style="text-align: center;">Statut DDP</th>
					<th style="text-align: center;">Statut dossier de régul</th>
					<th style="text-align: center;">Date</th>
					<th style="text-align: center;">Motif</th>
					<th style="text-align: center;">N° facture</th>
					<th style="text-align: center;">N° Commande</th>
					<th style="text-align: center;">N° Dossier</th>
					<th style="text-align: center;">Bénéficiaire</th>
					<th style="text-align: center;">Montant</th>
					<th style="text-align: center;">Devise</th>
					<th style="text-align: center;">Mode de paiement</th>
					{# <th style="text-align: center;">Suivi paiement</th> #}
					<th style="text-align: center;">Utilisateur</th>
				</tr>
			</thead>
			<tbody>
				{% for item in data %}
					<tr>
						{# Début Action #}
						<td class="align-middle" style="padding: 0px">
							<div class="dropdown">
								<button class="btn btn-sm me-1 dropdown-toggle trois-points-vertical" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
									<i class="fas fa-ellipsis-vertical"></i>
								</button>
								<ul class="dropdown-menu dropdown-menu-end" id="dropdown-menu" aria-labelledby="dropdownMenuButton" style="">
									{% if item.typeDemandeId.id == 1 and item.statut == 'Payé' %}
										<li>
											<a class="dropdown-item fw-bold" href="#">Dossier</a>
										</li>
									{% endif %}
									{% if item.typeDemandeId.id == 1 %}
										<li>
											<a class="dropdown-item fw-bold" href="{{path("demande_regulation",{numDdp:item.numeroDdp,numVersion:item.numeroVersion})}}">Dossier régularisation
											</a>
										</li>
									{% endif %}
									{% if item.statut matches '/Refusé/i' %}
										<li>
											<a class="dropdown-item fw-bold" href="{{path("edit_demande_paiement",{numDdp:item.numeroDdp,numVersion:item.numeroVersion})}}">Modifier
											</a>
										</li>
									{% endif %}
								</ul>

							</div>
						</td>
						{# Fin Actions #}
						<td class="text-center" style="text-align: center;">{{ item.agencedebiter}}</td>
						<td class="text-center" style="text-align: center;">{{ item.servicedebiter}}</td>
						<td style="text-align: center;">{{ item.numeroDdp }}</td>
						<td style="text-align: center;">{{ item.numeroVersion }}</td>
						<td style="text-align: center;">{{ item.typeDemandeId.libelle}}</td>
						<td class="text-center" style="text-align: center;">
							<a href="#" data-bs-toggle="modal" data-bs-target="#listeStatut" id="statutInput" data-id="{{item.numeroDdp}}" data-bs-toggle="tooltip" title="historique des statuts">
								{{ item.statut }}
							</a>
						</td>
						<td style="text-align: center;">{{ item.statutDossierRegul }}</td>
						<td style="text-align: center;">
							{{ item.dateCreation|date('d/m/Y')}}
						</td>
						<td>{{item.motif}}</td>
						<td>
							<ul>
								{% for numFac in item.numeroFacture %}
									<li>{{numFac}}</li>
								{% endfor %}
							</ul>
						</td>
						<td>
							<ul>
								{% for numCde in item.numeroCommande %}
									<li>{{numCde}}</li>
								{% endfor %}
							</ul>
						</td>
						<td>
							<ul>
								{% for numCde in item.numeroDossierDouane %}
									<li>{{numCde}}</li>
								{% endfor %}
							</ul>
						</td>
						<td style="text-align: center;">{{ item.beneficiaire}}</td>
						<td style="text-align: right;">{{ item.montantAPayers |number_format(2, ',' ,'.') }}</td>
						<td style="text-align: center;">{{ item.devise}}</td>
						<td style="text-align: center;">{{ item.modePaiement}}</td>
						{# <td>-</td> #}
						<td style="text-align: center;">{{ item.demandeur }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	<!-- FIN tableau -->

	{% include "/ddp/shared/_modal_statut.html.twig"  %}
{% endblock %}

{% block javascript %}
	<script src="{{ App.base_path }}/Views/js/utils/positionSticky.js?v=2025.10.22.08.00"></script>
	<script src="{{ App.base_path }}/Views/js/ddp/ddpModalStatut.js?v=2025.10.22.08.00" type="module"></script>
	<script src="{{ App.base_path }}/Views/js/ddp/ddpListe.js?v=2025.10.22.08.00" type="module"></script>
{% endblock %}
