{% extends "baseTemplate.html.twig" %}

{% block title %}
	Liste demande d'intervention
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ App.base_path }}/Views/css/list.css?v=2025.09.15.08.00">
	<link rel="stylesheet" href="{{ App.base_path }}/Views/css/atelier/dit/liste.css?v=2025.09.15.08.00">
{% endblock %}

{% import "macroForm.html.twig" as macroForm %}
{% set mots_a_supprimer = ['Chef section', 'Chef de section', 'Responsable section', 'Chef d\'équipe'] %}

{% block content %}
    <div class="sticky-header-titre">
        <div class="container">
            {% include "/partials/_notification.html.twig" %}
            {% include "/atelier/dit/shared/_formulaireRecherche.html.twig" %}
            <div class="row">
                <div class=" col-12 col-md-6 my-2">
                    <i class="fa-solid fa-circle text-info"></i>
                    <small class="text-info">Partiellement dispo |</small>
                    <i class="fa-solid fa-circle text-primary"></i>
                    <small class="text-primary">Complet non livré |</small>
                    <i class="fa-solid fa-circle text-warning"></i>
                    <small class="text-warning">Partiellement livré |</small>
                    <i class="fa-solid fa-circle text-success"></i>
                    <small class="text-success">Tout livré
                    </small>
                </div>

                <div class="col-12 col-md-7 my-3">
                    {% include "/atelier/dit/shared/_carteStatut.html.twig" %}
                </div>
            </div>
            {% include "/atelier/dit/shared/_pagination.html.twig" %}
        </div>
    </div>

    <!-- DEBUT tableau -->
    <div class="container-fluid">
        <table class="table table-sticky">
            <thead class="table-dark align-middle">
                <tr>
                    <th>
                        <i class="fas fa-ellipsis-vertical"></i>
                    </th>
                    <th>Statut</th>
                    <th>N° DIT</th>
                    <th>Réalisé par</th>
                    <th>Type document</th>
                    <th>Niveau urgence</th>
                    <th>Catégorie</th>
                    <th>N° Série</th>
                    <th>N° Parc</th>
                    <th>Date Demande</th>
                    <th>Int / Ext</th>
                    <th>Emetteur</th>
                    <th>Débiteur</th>
                    <th>Objet</th>
                    <th>Section affectée</th>
                    <th>N° devis</th>
                    <th>Statut Devis</th>
                    <th>N° OR</th>
                    <th class="fw-bold">Statut OR</th>
                    <th>Montant Total OR</th>
                    <th>Date Soumission OR</th>
                    <th>Statut facture</th>
                    <th>RI</th>
                    <th>Nbr PJ</th>
                    <th>Utilisateur</th>
                </tr>
            </thead>
            <tbody>
                {# DEBUT LOGIQUE #}
                {% for item in data %}
                    {% set classeStatutDit = item.statutDemande|lower|replace({' ': '_'}) %}
                    {% set classeQuatreStatutOr = '' %}

                    {% if item.quatrestatutor == 'Tout livré' %}
                        {% set classeQuatreStatutOr = 'bg-success text-white' %}
                    {% elseif item.quatrestatutor == 'Partiellement livré' %}
                        {% set classeQuatreStatutOr = 'bg-warning text-white' %}
                    {% elseif item.quatrestatutor == 'Partiellement dispo' %}
                        {% set classeQuatreStatutOr = 'bg-info text-white' %}
                    {%  elseif item.quatrestatutor == 'Complet non livré' %}
                        {% set classeQuatreStatutOr = 'bg-primary text-white' %}
                    {% else %}
                        {% set classeQuatreStatutOr = '' %}
                    {% endif %}
                    {# FIN LOGIQUE #}
                    <tr>
                        {# Début Action #}
                        <td class="align-middle" style="padding: 0px">
                            <div class="dropdown">
                                <button class="btn btn-sm me-1 dropdown-toggle trois-points-vertical" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="fas fa-ellipsis-vertical"></i>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-end" id="dropdown-menu" aria-labelledby="dropdownMenuButton" style="">
                                    <li>
                                        <a class="dropdown-item fw-bold" href="{{ path("dit_duplication", {numDit: item.numeroDemandeIntervention})}}">Dupliquer</a>
                                    </li>
                                    {# {% if item.estOrASoumi %} #}
                                    <li>
                                        <a class="dropdown-item fw-bold" href="#" data-bs-toggle="modal" data-bs-target="#docDansDw" data-id="{{item.numeroDemandeIntervention}}" id="">Soumission document à valider</a>
                                    </li>
                                    {# {% endif %} #}
                                    <li>
                                        <a class="dropdown-item fw-bold" target="_blank" href="{{ path("dw_interv_ate_avec_dit", {numDit: item.numeroDemandeIntervention})}}">Dossier DIT</a>
                                    </li>
                                    {% if item.estAnnulable %}
                                        <li>
                                            <a class="dropdown-item fw-bold clotureDit" href="{{ path("api_cloturer_annuler_dit_liste", {numDit: item.numeroDemandeIntervention})}}" data-id="{{ item.id }}">Clôturer la DIT</a>
                                        </li>
                                    {% endif %}
                                </ul>
                            </div>
                        </td>
                        {# Fin Actions #}

                        <td class="{{ classeStatutDit}}">{{ item.statutDemande|trim }}</td>
                        <td>
                            <a href="{{ path("dit_detail", {numDit: item.numeroDemandeIntervention})}}" target="_blank" data-bs-toggle="tooltip" title="Afficher le détail">
                                {{ item.numeroDemandeIntervention }}
                            </a>
                        </td>
                        <td>{{ item.reparationRealise }}</td>
                        <td>{{ item.typeDocument }}</td>
                        <td class="text-center">
                            {{ item.worNiveauUrgence }}
                        </td>
                        <td>{{ item.categorieDemande}}</td>
                        <td>{{ item.numSerie}}</td>
                        <td>{{ item.numParc}}</td>
                        <td>{{ item.dateDemande|date('d/m/Y')}}</td>
                        <td>{{ item.internetExterne}}</td>
                        <td>{{ item.agenceServiceEmetteur }}</td>
                        <td>{{ item.agenceServiceDebiteur}}</td>
                        <td>{{ item.objetDemande }}</td>
                        <td>
                            <a href="#" data-bs-toggle="modal" data-bs-target="#sectionAffectee" data-id="{{item.id}}" id="">
                                {{ item.sectionAffectee|remove_words(mots_a_supprimer)}}
                            </a>
                        </td>
                        <td>{{item.numeroDevisRattache}}</td>
                        <td>{{ item.statutDevis}}</td>
                        <td>
                            {% if item.numeroOr != '' %}
                                <a href="#" data-bs-toggle="modal" data-bs-target="#listeCommande" data-id="{{item.numeroOr}}" id="numOr" class="{{ classeQuatreStatutOr }} text-black" data-bs-toggle="tooltip" title="lister les commandes">{{ item.numeroOr }}</a>
                            {% endif %}
                        </td>
                        <td class="fw-bold ">{{ item.statutor }}</td>
                        <td style="text-align: right;">{{ item.montantTotalOR is not null ? item.montantTotalOR|number_format(2, ',', '.') : '' }}</td>
                        <td>{{ item.dateSoumissionOR is not null ? item.dateSoumissionOR|date('d/m/Y') : '' }}</td>
                        <td>
                            <a href="#" data-bs-toggle="modal" data-bs-target="#facturation" data-id="{{item.numeroOr}}" id="numOr">
                                {{ item.etatFacturation }}
                            </a>
                        </td>
                        <td>
                            <a href="#" data-bs-toggle="modal" data-bs-target="#ri" data-id="{{item.numeroOr}}" id="numOr" data-bs-toggle="tooltip" title="lister les intervention soumis RI">
                                {{ item.ri}}
                            </a>
                        </td>
                        <td class="text-center">{{ item.nbrPj}}</td>
                        <td>{{ item.utilisateurDemandeur|upper }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% include "/partials/_pagination.html.twig" %}
    <!-- FIN tableau -->
    {# body modal #}
    {% include "/atelier/dit/shared/_modal.html.twig"  %}
    {% include "/atelier/dit/shared/_modalDocDansDW.html.twig"  %}
    {% include "/atelier/dit/shared/_modalSectionAffectee.html.twig"  %}
    {% include "/atelier/dit/shared/_modalFacturation.html.twig"  %}
    {% include "/atelier/dit/shared/_modalRi.html.twig"  %}
    {% include "/partials/_modalNiveauUrgence.html.twig"  %}

{% endblock %}

{% block javascript %}
    <script src="{{ App.base_path }}/Views/js/utils/positionSticky.js?v=2025.09.15.08.00"></script>
    <script src="{{ App.base_path }}/Views/js/atelier/dit/listDit.js?v=2025.09.15.08.00" type="module"></script>
    <script src="{{ App.base_path }}/Views/js/atelier/dit/listDitModal.js?v=2025.09.15.08.00" type="module"></script>
{% endblock %}
