{% extends "baseTemplate.html.twig" %}

{% block title %}
	Création d’une DA avec DIT
{% endblock %}

{% block stylesheets %}
	<link href="{{ App.base_path }}/Views/css/new.css?v=2025.10.22.08.00" rel="stylesheet"/>
	<link href="{{ App.base_path }}/Views/css/da/list.css?v=2025.10.22.08.00" rel="stylesheet"/>
	<link href="{{ App.base_path }}/Views/css/da/style.css?v=2025.10.22.08.00" rel="stylesheet"/>
{% endblock %}

{% import "macroForm.html.twig" as macroForm %}

{% block overlay %}
	{% include "/shared/_overlay.html.twig"  %}
{% endblock %}

{% block content %}
	<div class="container-spaced">
		<div class="card">
			<div class="card-body">
				{{ form_start(form, { 'attr': { 'id': 'myForm' } }) }}
				{{ form_errors(form)}}
				<div class="container-fluid">
					<div class="row">
						<h3 class="perso-titre">
							Formulaire Demande d'approvisionnement avec DIT
						</h3>
					</div>

					{% include "/partials/_notification.html.twig" %}

					<div class="row">
						<div class="col-12 col-md-4">
							{{ macroForm.sousTitre3('Information sur la demande') }}
							{{ form_row(form.objetDal)}}
							<div class="mb-3 position-relative">
								{{ form_row(form.detailDal) }}
								<span id="charCount" class="position-absolute bottom-0 end-0 p-0 small text-muted"></span>
							</div>
							<div class="row">
								<div class="col col-md">
									{{ form_row(form.niveauUrgence) }}
								</div>
								<div class="col col-md">
									{{ form_row(form.dateFinSouhaite) }}
								</div>
							</div>
						</div>
						<div class="col-12 col-md-4">
							{{ macroForm.sousTitre3('Agence et service') }}
							<div class="row">
								<div class="col-6 col-md-6">
									{{ macroForm.sousTitre('Emetteur') }}
									{{ form_row(form.agenceEmetteur) }}
									{{ form_row(form.serviceEmetteur) }}
								</div>
								<div class="col-6 col-md-6">
									{{ macroForm.sousTitre('Débiteur') }}
									{{ form_row(form.agenceDebiteur) }}
									{{ form_row(form.serviceDebiteur) }}
								</div>
							</div>
						</div>
						<div class="col-12 col-md-4">
							{{ macroForm.sousTitre3('Information Matériel / DIT') }}
							<div class="row">
								<div class="col-md-6 col-6">
									{{ form_row(form.idMateriel) }}
									{{ form_row(form.serie) }}
								</div>
								<div class="col-md-6 col-6">
									{{ form_row(form.parc) }}
									{{ form_row(form.numeroDit) }}
								</div>
								{{ form_row(form.objetDit) }}
							</div>
						</div>
					</div>

					<table class="table rounded table-plein-ecran mt-4">
						<thead class="table-dark text-center">
							<tr>
								<th class="w-10 align-middle">Famille</th>
								<th class="w-10 align-middle">Sous-famille</th>
								<th class="w-7 align-middle">Référence</th>
								<th class="w-20 align-middle">Désignation / Référence
									<i class="fas fa-info-circle text-info fs-6 ms-2" id="info-icon" role="button"></i>
								</th>
								<th class="w-10 align-middle">Fournisseur</th>
								<th class="w-10 align-middle">Date fin souhaitée</th>
								<th class="w-5 align-middle text-end">Quantité</th>
								<th class="w-13 align-middle">Commentaire</th>
								<th class="w-10 align-middle">Pièces jointes</th>
								<th class="w-2 align-middle">Fiche technique</th>
								<th class="w-2 align-middle">
									<i class="fas fa-times fs-5"></i>
								</th>
							</tr>
						</thead>
					</table>
					<div id="children-container">
						{% for ligne, DAL in form.DAL %}
							{% set dalData = DAL.vars.data %}
							<div id="demande_appro_form_DAL_{{ ligne }}" class="DAL-container">
								<div class="d-flex gap-3">
									<div class="w-10">
										{{ form_widget(DAL.codeFams1, { 'attr': { class:"non-modifiable" } }) }}
									</div>
									<div class="w-10">
										<div class="spinner-container">
											<div class="spinner-load m-auto" id="spinner_{{ ligne }}_codeFams2" style="display: none;margin-bottom: 0px !important;transform: translateY(-2px);">
												<div></div>
												<div></div>
												<div></div>
												<div></div>
												<div></div>
												<div></div>
												<div></div>
												<div></div>
												<div></div>
												<div></div>
												<div></div>
												<div></div>
											</div>
										</div>
										<div id="container_{{ ligne }}_codeFams2">
											{{ form_widget(DAL.codeFams2, { 'attr': { class:"non-modifiable" } }) }}
										</div>
									</div>
									<div class="w-7">
										{{ form_widget(DAL.artRefp, { 'attr': { class:"non-modifiable" } }) }}
									</div>
									<div class="w-20">
										{{ form_widget(DAL.artDesi, { 'attr': { class:"non-modifiable" } }) }}
										<div id="suggestion_{{ ligne }}_artDesi" class="suggestions-container"></div>
										<div id="spinner_container_{{ ligne }}_artDesi" class="text-center" style="display: none;">
											<div class="text-overlay">
												Veuillez patienter s'il vous plaît! Chargement des données
											</div>
											<div class="loader-points"></div>
										</div>
									</div>
									<div class="w-10">
										{{ form_widget(DAL.nomFournisseur, { 'attr': { class:"non-modifiable" } }) }}
										<div id="suggestion_{{ ligne }}_nomFournisseur" class="suggestions-container"></div>
										<div id="spinner_container_{{ ligne }}_nomFournisseur" class="text-center" style="display: none;"></div>
									</div>
									<div class="w-10">
										{{ form_widget(DAL.dateFinSouhaite, { 'attr': { class:"non-modifiable" } }) }}
									</div>
									<div class="w-5">
										{{ form_widget(DAL.qteDem) }}
									</div>
									<div class="w-13">
										{{ form_widget(DAL.commentaire) }}
									</div>
									<div class="w-1">
										<i class="fas fa-paperclip text-primary add-file-icon" data-file-input-id="demande_appro_form_DAL_{{ ligne }}_fileNames" title="Ajouter une pièce jointe" style="cursor: pointer;"></i>
									</div>
									<div class="w-9" id="demande_appro_form_DAL_{{ ligne }}_fileNamesContainer">
										{% if dalData.fileNames is not empty %}
											<ul class="ps-0 mb-0 file-list">
												{% for file in dalData.fileNames %}
													<li class="file-item">
														<span class="file-name">
															<a href="{{ App.base_path_fichier }}/da/{{ dalData.numeroDemandeAppro }}/{{ file }}" target="_blank">{{ file }}</a>
														</span>
														<span class="remove-file">x</span>
													</li>
												{% endfor %}
											</ul>
										{% endif %}
									</div>
									<div class="w-2">
										{{ form_widget(DAL.estFicheTechnique) }}
									</div>
									<div class="d-none">
										{{ form_widget(DAL.fileNames) }}
										{{ form_widget(DAL.existingFileNames) }}
										{{ form_widget(DAL.filesToDelete) }}
										{{ form_widget(DAL.artConstp) }}
										{{ form_widget(DAL.artFams1) }}
										{{ form_widget(DAL.artFams2) }}
										{{ form_widget(DAL.numeroFournisseur) }}
										{{ form_widget(DAL.catalogue) }}
										{{ form_widget(DAL.deleted) }}
										{{ form_widget(DAL.numeroLigne) }}
									</div>
									<div class="w-2">
										<span class="delete-DA" data-num-ligne="{{ ligne }}" title="Supprimer la ligne de DA" style="cursor: pointer; ">
											<i class="fas fa-times fs-4"></i>
										</span>
									</div>
								</div>
								<div class="mt-3 mb-3"></div>
							</div>
						{% endfor %}
					</div>

					<div id="child-prototype" style="display: none;">
						{{ form_widget(form.DAL.vars.prototype)|raw }}
					</div>

					<div class="d-flex justify-content-end">
						<button type="button" id="add-child" class="bouton-secondaire mt-2">
							<i class="fas fa-plus"></i>
							Ajouter une ligne
						</button>
					</div>

					<div class="row">
						{{ form_row(form.observation)}}
					</div>
				</div>

				<div class="d-flex justify-content-end container-fluid mt-2">
					<button type="submit" class="bouton-brouillon mx-3" name="enregistrerBrouillon">
						<i class="fas fa-floppy-disk"></i>
						Enregistrer provisoirement
					</button>
					<button type="submit" class="bouton-principal" name="soumissionAppro">
						<i class="fas fa-paper-plane"></i>
						Soumettre la demande
					</button>
				</div>
				{{ form_end(form) }}
			</div>
		</div>

	</div>
{% endblock %}
{% block javascript %}
	<script type="module" src="{{ App.base_path }}/Views/js/da/newAvecDit/new.js?v=2025.10.22.08.00" type="module"></script>
{% endblock %}
