{% extends "baseTemplate.html.twig" %}

{% block title %}
	Proposition / Validation d’une DA
{% endblock %}

{% block stylesheets %}
	<link href="{{ App.base_path }}/Views/css/new.css?v=2025.10.22.08.00" rel="stylesheet"/>
	<link href="{{ App.base_path }}/Views/css/da/style.css?v=2025.10.22.08.00" rel="stylesheet"/>
	<link href="{{ App.base_path }}/Views/css/da/list.css?v=2025.10.22.08.00" rel="stylesheet"/>
	<link href="{{ App.base_path }}/Views/css/da/detail.css?v=2025.10.22.08.00" rel="stylesheet"/>
	<link href="{{ App.base_path }}/Views/css/dit/news.css?v=2025.10.22.08.00" rel="stylesheet"/>
	<link href="{{ App.base_path }}/Views/css/da/proposition.css?v=2025.10.22.08.00" rel="stylesheet"/>
{% endblock %}

{% import "macroForm.html.twig" as macroForm %}

{% block overlay %}
	{% include "/shared/_overlay.html.twig"  %}
{% endblock %}

{% block content %}
	<div class="container-spaced">
		<nav>
			<div class="onglet-head nav nav-tabs" role="tablist">
				<button class="nav-link active" id="nav-proposition-tab" data-bs-toggle="tab" data-bs-target="#nav-proposition" type="button" role="tab" aria-controls="nav-proposition" aria-selected="true">Validation et Proposition</button>
				<button class="nav-link" id="nav-observation-tab" data-bs-toggle="tab" data-bs-target="#nav-observation" type="button" role="tab" aria-controls="nav-observation" aria-selected="false">Observation</button>
				<button class="nav-link" id="nav-document-rattache-tab" data-bs-toggle="tab" data-bs-target="#nav-document-rattache" type="button" role="tab" aria-controls="nav-document-rattache" aria-selected="false">Documents rattachés</button>
			</div>
		</nav>
		<div class="card border-top-left-radius-0">
			<div class="card-body">
				<div class="container-fluid">
					<div class="tab-content">
						<div class="tab-pane fade active show" id="nav-proposition" role="tabpanel" aria-labelledby="nav-proposition-tab">
							{{ include('da/shared/proposition/' ~ propValTemplate ~ '.html.twig') }}
						</div>
						<div class="tab-pane fade" id="nav-observation" role="tabpanel" aria-labelledby="nav-observation-tab">
							{{ include('da/shared/observation/observation.html.twig') }}
						</div>
						<div class="tab-pane fade" id="nav-document-rattache" role="tabpanel" aria-labelledby="nav-document-rattache-tab">
							{{ include('da/shared/detail/document-rattache.html.twig') }}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block javascript %}
	<script src="{{ App.base_path }}/Views/js/da/{{ dossierJS }}/proposition.js?v=2025.10.22.08.00" type="module"></script>
	<script src="{{ App.base_path }}/Views/js/da/observation/observation.js?v=2025.10.22.08.00" type="module"></script>
	<script src="{{ App.base_path }}/Views/js/da/detail/document-rattache.js?v=2025.10.22.08.00" type="module"></script>
{% endblock %}
