<p>
	La demande de support informatique n°
	<b>{{ tab.numTik }}</b>
	a été planifié par
	<b>{{ tab.userConnecter }}</b>.
</p>
<p>
	Le ticket n°
	<b>{{ tab.numTik }}</b>
	que vous avez créé est planifié le
	<b>{{ tab.variable | date('d/m/Y') }}</b>
	à
	{{ tab.variable | date('H:i:s') }}.
</p>
