{% import "macroForm.html.twig" as macroForm %}

{% set currentPage = article.numeroLigne %}
{% set catalogueCss = article.catalogue ? 'success' : 'danger' %}
{% set catalogueBool = article.catalogue ? 'catalogué' : 'non catalogué' %}
{% set famille = article.artFams1 ?? '-' %}
{% set sousFamille = article.artFams2 ?? '-' %}
{% set codeFamille = article.codeFams1 ?? '-' %}
{% set codeSousFamille = article.codeFams2 ?? '-' %}
{% set referencePiece = article.artRefp ?? '-' %}
{% set ficheTechnique = '<input type="checkbox" class="form-check-input" disabled' ~ (article.estFicheTechnique ? ' checked' : '') ~ '>' %}

<div class="dalr tab-pane fade" id="tab_{{ currentPage }}_{{ article.numeroDemandeAppro }}" role="tabpanel">
	<div class="h2 text-uppercase fw-bold position-absolute text-{{ catalogueCss }}" style="top:65px;right:30px;">{{ catalogueBool }}</div>
	{{ macroForm.sousTitre3('Information sur l’article demandée par l’atelier', { "class": "mt-3" }) }}
	<div class="row">
		<div class="col-12 col-md-6">
			<div class="row">
				<div class="col-6">
					{{ macroForm.affichage2('N° Fournisseur', article.numeroFournisseur, 'mb-2') }}
					{{ macroForm.affichage2('Famille', famille, 'mb-2') }}
				</div>
				<div class="col-6">
					{{ macroForm.affichage2('Nom Fournisseur', article.nomFournisseur, 'mb-2') }}
					{{ macroForm.affichage2('Sous-famille', sousFamille, 'mb-2') }}
				</div>
			</div>
		</div>
		<div class="col-12 col-md-6">
			{{ macroForm.affichage2('Commentaire sur l’article', article.commentaire, 'h-90 mb-2') }}
		</div>
	</div>
	<div class="row">
		<div class="col-3 col-md-3">
			{{ macroForm.affichage2('Référence', referencePiece, 'mb-2') }}
		</div>
		<div class="col-3 col-md-3">
			{{ macroForm.affichage2('Désignation', article.artDesi, 'mb-2') }}
		</div>
		<div class="col-2 col-md-2">
			{{ macroForm.affichage2('Prix Unitaire', article.prixUnitaire | number_format(2, ',', '.'), 'mb-2') }}
		</div>
		<div class="col-2 col-md-2">
			{{ macroForm.affichage2('Qté demandée', article.qteDem, 'mb-2') }}
		</div>
		<div class="col-2 col-md-2">
			{{ macroForm.affichage2('Montant total', (article.prixUnitaire * article.qteDem) | number_format(2, ',', '.'), 'mb-2') }}
		</div>
	</div>
	<div class="row">
		<div class="col-12 col-md-6">
			<label class="mt-2">Pièces jointes</label>
			<div class="d-flex align-items-center mb-2 div-disabled-2">
				{% if article.fileNames|length > 0 %}
					<ul class="mb-0 px-3">
						{% for file in article.fileNames %}
							<li>
								<a href="{{ App.base_path_fichier }}/da/{{ article.numeroDemandeAppro }}/{{ file }}" target="_blank">{{ file }}</a>
							</li>
						{% endfor %}
					</ul>
				{% else %}
					Aucune pièce jointe
				{% endif %}
			</div>
		</div>
		<div class="col-4 col-md-4">
			<label class="mt-2">
				Fiche technique
				{% if estAppro and article.estFicheTechnique %}
					<a href="#" class="d-none">
						<i class="fas fa-paperclip"></i>
					</a>
				{% endif %}
			</label>
			<div class="d-flex align-items-center mb-2 div-disabled-2">
				{% if article.estFicheTechnique %}
					{% if article.nomFicheTechnique %}
						<a href="{{ App.base_path_fichier }}/da/{{ article.numeroDemandeAppro }}/{{ article.nomFicheTechnique }}" target="_blank">{{ article.nomFicheTechnique }}</a>
					{% else %}
						Pas encore de fiche technique attachée
					{% endif %}
				{% else %}
					<i class="fa fa-times text-danger"></i>
				{% endif %}
			</div>
		</div>
	</div>

	<input type="hidden" name="qteDem_{{ currentPage }}" id="qteDem_{{ currentPage }}" value="{{ article.qteDem }}">
	<input type="hidden" name="codeFams1_{{ currentPage }}" id="codeFams1_{{ currentPage }}" value="{{ codeFamille }}">
	<input type="hidden" name="codeFams2_{{ currentPage }}" id="codeFams2_{{ currentPage }}" value="{{ codeSousFamille }}">
	<input type="hidden" name="artFams1_{{ currentPage }}" id="artFams1_{{ currentPage }}" value="{{ famille }}">
	<input type="hidden" name="artFams2_{{ currentPage }}" id="artFams2_{{ currentPage }}" value="{{ sousFamille }}">
	<input type="hidden" name="catalogue_{{ currentPage }}" id="catalogue_{{ currentPage }}" value="{{ article.catalogue }}">
	<input type="hidden" name="artRefp_{{ currentPage }}" id="artRefp_{{ currentPage }}" value="{{ article.artRefp }}">
	<input type="hidden" name="artDesi_{{ currentPage }}" id="artDesi_{{ currentPage }}" value="{{ article.artDesi }}">
	<input type="hidden" name="nomFournisseur_{{ currentPage }}" id="nomFournisseur_{{ currentPage }}" value="{{ article.nomFournisseur }}">
	<input type="hidden" name="numeroFournisseur_{{ currentPage }}" id="numeroFournisseur_{{ currentPage }}" value="{{ article.numeroFournisseur }}">

	{{ macroForm.sousTitre3(estAte ? 'Article(s) proposée(s) par l’APPRO' : 'Proposition d’une référence', { "class": "mt-3" }) }}
	<div class="{{ estAte ? 'd-none' : ''}}">
		{% if not(article.catalogue) and (famille == '-' or famille == '') and (sousFamille == '-' or sousfamille == '') %}
			<div class="row">
				<div class="col-12 col-md-3">
					<label for="demande_appro_proposition_codeFams1_{{ currentPage }}" class="form-label mb-0">Famille</label>
					<select id="demande_appro_proposition_codeFams1_{{ currentPage }}" class="form-select" {{ estAte ? 'disabled':''}}>
						<option value="-">-- Choisir une famille --</option>
						<option value="AOA">ACCESSOIRE ET OUTIL AUTOMOBILE</option>
						<option value="APE">APPAREILLAGE ÉLECTRIQUE</option>
						<option value="BAT">BATTERIE</option>
						<option value="EPI">EQUIPEMENT DE PROTECTION INDIV</option>
						<option value="EXT">EXTINCTEUR</option>
						<option value="FLQ">FILTRE ET LIQUIDE ENTRETIEN</option>
						<option value="FRA">FRAIS DIVERS</option>
						<option value="GSC">GAZ ET SOLUTIONS CHIMIQUES</option>
						<option value="LUM">LUMINAIRE</option>
						<option value="MAM">MATÉRIEL AUTOMOBILE</option>
						<option value="MAT">MATÉRIAUX</option>
						<option value="MEO">MACHINE ET OUTILLAGE</option>
						<option value="MO">MAIN D'OEUVRE</option>
						<option value="NP">NON PRECISE</option>
						<option value="PAM">PIÈCES AUTOMOBILE</option>
						<option value="PNE">PNEU</option>
						<option value="PNT">PEINTURE</option>
						<option value="PRE">PRESTATION</option>
						<option value="QUI">QUINCAILLERIE</option>
					</select>
				</div>
				<div class="col-12 col-md-3">
					<div class="spinner-container">
						<div class="spinner-load m-auto" id="spinner_codeFams2_{{ currentPage }}" style="display: none;margin-bottom: 0px !important;transform: translateY(-2px);">
							<div></div>
							<div></div>
							<div></div>
							<div></div>
							<div></div>
							<div></div>
							<div></div>
							<div></div>
							<div></div>
							<div></div>
							<div></div>
							<div></div>
						</div>
					</div>
					<div id="container_codeFams2_{{ currentPage }}" class="mb-2">
						<label for="demande_appro_proposition_codeFams2_{{ currentPage }}" class="form-label mb-0">Sous-famille</label>
						<select id="demande_appro_proposition_codeFams2_{{ currentPage }}" class="form-select" {{ estAte ? 'disabled':''}}>
							<option value="-">-- Choisir une sous-famille --</option>
						</select>
					</div>

				</div>
			</div>

		{% else %}
			{# ajout du classe d-none pour cacher les champs #}
			<div class="row d-none">
				<div class="col-12 col-md-3">
					<label for="demande_appro_proposition_codeFams1_{{ currentPage }}" class="form-label mb-0">Famille (*)</label>
					<input type="text" id="demande_appro_proposition_codeFams1_{{ currentPage }}" class="form-select">
				</div>
				<div class="col-12 col-md-3">
					<div id="container_codeFams2_{{ currentPage }}" class="mb-2">
						<label for="demande_appro_proposition_codeFams2_{{ currentPage }}" class="form-label mb-0">Sous-famille (*)</label>
						<input type="text" id="demande_appro_proposition_codeFams2_{{ currentPage }}" class="form-select">
					</div>
				</div>
			</div>
		{% endif %}
		<div class="row">
			<div class="col-3 col-md-3">
				<div class="mb-2">
					<label for="demande_appro_proposition_reference_{{ currentPage }}" class="form-label mb-0">Référence
						{{ article.catalogue ? '(*)' : ''}}
					</label>
					<input type="text" id="demande_appro_proposition_reference_{{ currentPage }}" class="form-control" {{ estAte ? 'disabled':''}} autocomplete="off">
					<div id="suggestion_reference_{{ currentPage }}" class="suggestions-container"></div>
					<div id="spinner_container_reference_{{ currentPage }}" class="spinner invisible" style="display: none;"></div>
				</div>
			</div>
			<div class="col-9 col-md-9">
				<div class="row">
					<div class="col-8 col-md-8">
						<div class="mb-2">
							<label for="demande_appro_proposition_designation_{{ currentPage }}" class="form-label mb-0">Désignation
								{{ article.catalogue ? '(*)' : ''}}</label>
							<input type="text" id="demande_appro_proposition_designation_{{ currentPage }}" class="form-control" {{ estAte ? 'disabled':''}} autocomplete="off">
							<div id="suggestion_designation_{{ currentPage }}" class="suggestions-container"></div>
							<div id="spinner_container_designation_{{ currentPage }}" class="text-center" style="display: none;">
								<div class="text-overlay">
									Veuillez patienter s'il vous plaît! Chargement des données
								</div>
								<div class="loader-points"></div>
							</div>
						</div>
					</div>
					<div class="col-4 col-md-4">
						<div class="mb-2">
							<label for="demande_appro_proposition_fournisseur_{{ currentPage }}" class="form-label mb-0">Nom du fournisseur
								{{ article.catalogue ? '(*)' : ''}}</label>
							<input type="text" id="demande_appro_proposition_fournisseur_{{ currentPage }}" class="form-control" {{ estAte ? 'disabled':''}} autocomplete="off">
							<div id="suggestion_fournisseur_{{ currentPage }}" class="suggestions-container"></div>
							<div id="spinner_container__fournisseur_{{ currentPage }}" class="spinner invisible" style="display: none;"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-3 col-md-3">
				<div class="mb-2">
					<label for="demande_appro_proposition_qte_dispo_{{ currentPage }}" class="form-label mb-0">Qté Dispo</label>
					<input type="text" id="demande_appro_proposition_qte_dispo_{{ currentPage }}" class="form-control" {{ estAte ? 'disabled':''}}>
				</div>
			</div>
			<div class="col-9 col-md-9">
				<div class="mb-2">
					<label for="demande_appro_proposition_motif_{{ currentPage }}" class="form-label mb-0">Commentaire / motif
						{{ article.catalogue ? '(*)' : ''}}</label>
					<input type="text" id="demande_appro_proposition_motif_{{ currentPage }}" class="form-control" {{ estAte ? 'disabled':''}}>
				</div>
				<div class="mb-2 d-none">
					<input type="text" id="demande_appro_proposition_numeroFournisseur_{{ currentPage }}">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-3 col-md-3">
				<div class="mb-2 {{ article.catalogue ? 'd-none' : ''}} ">
					<label for="demande_appro_proposition_PU_{{ currentPage }}" class="form-label mb-0">Prix Unitaire (*)</label>
					<input type="text" id="demande_appro_proposition_PU_{{ currentPage }}" class="form-control" {{ estAte ? 'disabled':''}} data-catalogue="{{ article.catalogue ? 1 : 0 }}">
				</div>
			</div>
		</div>

		<div class="d-flex justify-content-end">
			<button type="button" id="add_line_{{ currentPage }}" class="btn bouton mt-2 {{ estAte ? 'd-none':''}}">
				<i class="fas fa-plus"></i>
				Ajouter la référence
			</button>
		</div>
	</div>
	<table class="table rounded table-hover table-plein-ecran mt-3">
		<thead class="table-dark text-center">
			<tr>
				<th>Choix</th>
				<th>Fournisseur</th>
				<th>Référence</th>
				<th>Désignation</th>
				<th class="text-end">PU</th>
				<th class="text-end">Montant Total</th>
				<th>Conditionnement</th>
				<th>Qté Dispo</th>
				<th>Commentaire / motif</th>
				{% if article.estFicheTechnique %}
					<th colspan="2">Fiche technique</th>
				{% endif %}
				<th colspan="2">Pièces jointes</th>
				{% if estAppro %}
					<th>
						<i class="fas fa-times fs-7"></i>
					</th>
				{% endif %}
			</tr>
		</thead>

		<tbody id="tableBody_{{ currentPage }}">
			{% for DALR in article.demandeApproLR|reverse %}
				<tr role="button">
					<td style="color: {{ DALR.prixUnitaire == '0' ? 'red' : '#000' }};">
						<input type="radio" name="selectedRow_{{DALR.numeroLigne}}" id="radio_{{DALR.numeroLigne}}_{{DALR.numLigneTableau}}" value="{{ DALR.numeroLigne}}-{{DALR.numLigneTableau}}" {{ DALR.choix ? 'checked' : '' }} {{ nePeutPasModifier ? 'disabled':''}}>
					</td>
					<td class="d-none numero-fournisseur">{{ DALR.numeroFournisseur }}</td>
					<td style="color: {{ DALR.prixUnitaire == '0' ? 'red' : '#000' }};">{{ DALR.nomFournisseur }}</td>
					<td style="color: {{ DALR.prixUnitaire == '0' ? 'red' : '#000' }};">{{ DALR.artRefp }}</td>
					<td style="color: {{ DALR.prixUnitaire == '0' ? 'red' : '#000' }}; text-align: left;">{{ DALR.artDesi }}</td>
					<td style="color: {{ DALR.prixUnitaire == '0' ? 'red' : '#000' }}; text-align: right;">{{ DALR.prixUnitaire | number_format(2, ',', '.')}}</td>
					<td style="color: {{ DALR.prixUnitaire == '0' ? 'red' : '#000' }}; text-align: right;">{{ DALR.total | number_format(2, ',', '.')}}</td>
					<td style="color: {{ DALR.prixUnitaire == '0' ? 'red' : '#000' }};">{{ DALR.conditionnement }}</td>
					<td style="color: {{ DALR.prixUnitaire == '0' ? 'red' : '#000' }};">{{ DALR.qteDispo }}</td>
					<td style="color: {{ DALR.prixUnitaire == '0' ? 'red' : '#000' }}; text-align: left;">{{ DALR.motif }}</td>
					{% if article.estFicheTechnique %}
						<td></td>
						<td class="text-start">
							<a href="{{ App.base_path_fichier }}/da/{{ DALR.numeroDemandeAppro }}/{{ DALR.nomFicheTechnique }}" id="lien_fiche_technique_{{DALR.numeroLigne}}_{{DALR.numLigneTableau}}" target="_blank">{{ DALR.nomFicheTechnique }}</a>
						</td>
					{% endif %}
					<td></td>
					<td class="text-start">
						<div>
							{% if DALR.fileNames is not empty %}
								<ul class="ps-3 mb-0">
									{% for file in DALR.fileNames %}
										<li>
											<a href="{{ App.base_path_fichier }}/da/{{ DALR.numeroDemandeAppro }}/{{ file }}" target="_blank">{{ file }}</a>
										</li>
									{% endfor %}
								</ul>
							{% else %}
								Aucune pièce jointe
							{% endif %}
						</div>
					</td>
					{% if estAppro %}
						<td></td>
					{% endif %}
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<div class="d-flex justify-content-between">
		<div class="">
			{% if totalPage > 1 %}
				<button type="button" class="btn bouton mt-2 me-3 prevBtn">
					<i class="fas fa-arrow-left"></i>
					Précédent
				</button>

				<button type="button" class="btn bouton mt-2 nextBtn">
					Suivant
					<i class="fas fa-arrow-right"></i>
				</button>
			{% endif %}
		</div>
		<div class="align-self-end">
			<span class="fs-6">
				<span class="currentPage fs-6"></span>/{{ totalPage }}</span>
		</div>
	</div>
</div>
