{% extends "baseTemplate.html.twig" %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ App.base_path }}/Views/css/list.css?v=2025.10.22.08.00">
{% endblock %}

{% block title %}
	Liste des missions
{% endblock %}

{# {% import "macroForm.html.twig" as form %} #}

{% block content %}
	{# {% include "/partials/_loader.html.twig" %} #}

	<div class="container mt-6">
		{% include "/doms/shared/_formulaireRecherche.html.twig" %}
		{% include "/doms/shared/_pagination.html.twig" %}
	</div>


	<div class="container-fluid">
		<table class="table rounded table-plein-ecran">
			<thead class="table-dark">
				<tr>
					<th>
						<i class="fas fa-ellipsis-vertical"></i>
					</th>
					<th>Statut</th>
					<th>Sous type</th>
					<th>N° DOM</th>
					<th>Date de demande</th>
					<th>Motif de déplacemnt</th>
					<th class="text-center">Matricule</th>
					<th>Agence\Service</th>
					<th>Date de début</th>
					<th>Date de fin</th>
					<th>Client</th>
					<th>Lieu d'intervention</th>
					<th>Total général payer</th>
					<th>Devis</th>
				</tr>
			</thead>
			<tbody>
				{% for item in data %}
					<tr>
						{# Actions #}
						<td style="padding: 0px;" class="align-middle">
							<div class="dropdown">
								<button class="btn dropdown-toggle trois-points-vertical" type="button" data-bs-toggle="dropdown" aria-expanded="false">
									<i class="fas fa-ellipsis-vertical"></i>
								</button>
								{% if item.showTropPercuAction %}
									<ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton">
										<li>
											<a class="dropdown-item fw-bold" href="{{ path('dom_trop_percu_form', {id: item.id}) }}">Trop perçu</a>
										</li>
									</ul>
								{% endif %}
							</div>
						</td>

						{# Statut — classe calculée en PHP, plus de if/elseif en Twig #}
						<td class="{{ item.classeStatut }}" style="{{ item.styleStatut }}">
							{{ item.statutDescription }}
						</td>

						<td>{{ item.codeSousType }}</td>
						<td>
							<a href="{{ path('Dom_detail', {id: item.id}) }}" target="_blank">
								{{ item.numeroOrdreMission }}
							</a>
						</td>
						<td class="text-center">{{ item.dateDemande | date('d/m/Y') }}</td>
						<td>{{ item.motifDeplacement }}</td>
						<td class="text-center">{{ item.matricule }}</td>
						<td>{{ item.libelleCodeAgenceService }}</td>
						<td class="text-center">{{ item.dateDebut | date('d/m/Y') }}</td>
						<td class="text-center">{{ item.dateFin | date('d/m/Y') }}</td>
						<td>{{ item.client }}</td>
						<td>{{ item.lieuIntervention }}</td>
						<td class="text-end">{{ item.totalGeneralPayer }}</td>
						<td>{{ item.devis }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	<!-- FIN tableau -->


{% endblock %}

{% block javascript %}
	<script src="{{ App.base_path }}/Views/js/badm/listBadm.js?v=2025.10.22.08.00" type="module"></script>
{% endblock %}
