<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>{{ subject }}</title>
		<style>
			body {
				font-family: Arial, sans-serif;
				background-color: #f4f4f4;
				margin: 0;
				padding: 20px;
			}
			.email-container {
				background-color: #ffffff;
				padding: 20px;
				border-radius: 5px;
				box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
			}
			.email-header {
				font-size: 24px;
				margin-bottom: 20px;
			}
			.email-body {
				font-size: 16px;
				line-height: 1.5;
			}
			.email-footer {
				margin-top: 20px;
				text-align: center;
				font-size: 12px;
				color: #888888;
			}
			.email-footer img {
				width: 150px;
			}
			.button {
				display: inline-block;
				padding: 10px 20px;
				color: #ffffff;
				background-color: #fbbb01;
				text-decoration: none;
				border-radius: 5px;
			}
			.valide {
				background-color: #198754;
			}
			.refuse {
				background-color: #dc3545;
			}
			.resolu {
				background-color: #d4edda;
				color: #155724;
			}
			.cloture {
				background-color: #0dcaf0;
			} /* pas encore de template pour le body */
			.planifie {
				background-color: #ffc107;
			}
			.transfere {
				background-color: #ffe8b3;
				color: #663c00;
			}
			.suspendu {
				background-color: #6c757d;
			}
			.valide,
			.refuse,
			.cloture,
			.planifie,
			.suspendu {
				color: #fff
			}
			.fw-bold {
				font-weight: bold;
			}
			.espace {
				margin-left: 5rem;
			}
		</style>
	</head>
	<body>
		<div class="email-container">
			{{ include('tik/email/shared/_header.html.twig', { numTik:tab.numTik, statut:statut }) }}

			<div class="email-body">
				<p>Bonjour,</p>

				{% include 'tik/email/shared/_body.' ~ statut ~ '.html.twig' with { tab:tab } %}

				<p>
					Pour consulter les détails complets du ticket, veuillez cliquer sur le bouton ci-dessous:
					<br>
					<a href="{{ action_url }}" class="button">Detail de la demande</a>
				</p>
				<p>
					<span class="fw-bold">NB:</span>
					Assurez-vous d’être connecté à
					<a href="http://192.168.0.28/{{ App.base_path }}/">Hffintranet</a>
					avant de cliquer sur le lien.
				</p>
				<p class="fw-bold">Cordialement,</p>
			</div>

			{{ include('tik/email/shared/_footer.html.twig') }}
		</div>
	</body>
</html>
