{% extends 'baseTemplate.html.twig' %}

{% block title %}
	Bordereau de comptage
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ App.base_path }}/Views/css/list.css?v=2025.10.22.08.00"/>
	<link rel="stylesheet" href="{{ App.base_path }}/Views/css/inventaire/liste.css?v=2025.10.22.08.00"/>
{% endblock %}

{% block content %}
	<div class="sticky-header-titre">
		<div class="container">
			{% include '/bordereau/_formulaire.html.twig' %}
			<div class="d-flex justify-content-between">
				{% if data is not empty %}

					<a href="{{path('export_pdf_bordereau', { 'numInv': numinvpdf })}}" id="pdfBordereau" name="pdfinvenatireDetail" class="btn btn bg-danger text-white my-3 fw-bold ms-3" target="_blank">
						<i class="fas fa-print"></i>
						PDF</a>
				{% else %}

					<a href="#" id="pdfBordereau" name="pdfinvenatireDetail" class="btn btn bg-info text-white my-3 fw-bold ms-3">
						<i class="fas fa-print"></i>
						PDF</a>
				{% endif %}
			</div>
		</div>
	</div>
	<table class="table table-sticky">
		<thead class="table-dark position-sticky">
			<tr>
				<th style="text-align: center;">Date inventaire</th>
				<th style="text-align: center;">Numero</th>
				<th style="text-align: center;">Bordereau</th>
				<th style="text-align: center;">Ligne</th>
				<th style="text-align: center;">Casier</th>
				<th style="text-align: center;">CST</th>
				<th style="text-align: center;">Ref</th>
				<th style="text-align: center;">Description</th>
				<th style="text-align: center;">Qté théorique</th>
				<th style="text-align: center;">Qté allouée</th>
			</tr>
		</thead>
		<tbody id="tableBody">
			{% if data is empty %}
				<tr>
					<td colspan="14" class="text-center">Aucune donnée disponible</td>
				</tr>
			{% else %}
				{% for item in data %}
					<tr>
						<td style="text-align: center;">
							{{item.dateinv}}</td>
						<td style="text-align: center;">
							{{item.numinv}}</td>
						<td>
							{{item.numbordereau}}</td>
						<td style="text-align: center;">
							{{item.ligne}}</td>
						<td>
							{{item.casier}}</td>
						<td>
							{{item.cst}}</td>
						<td>
							{{item.refp}}</td>
						<td>
							{{item.descrip}}</td>
						<td style="text-align: center;">
							{{item.qte_theo  is same as("0") ? "" : item.qte_theo }}</td>
						<td style="text-align: center;">
							{{item.qte_alloue is same as("0") ? "" :  item.qte_alloue }}</td>
					</tr>
				{% endfor %}
			{% endif %}
		</tbody>
	</table>
{% endblock %}

{% block javascript %}
	<script src="{{ App.base_path }}/Views/js/utils/positionSticky.js?v=2025.10.22.08.00"></script>
	<script src="{{ App.base_path }}/Views/js/inventaire/inventaireAg.js?v=2025.10.22.08.00" type="module"></script>
{% endblock %}
