{% import "macroForm.html.twig" as macroForm %}
<!-- DEBUT recherche -->
<div class="accordion" id="formAccordion">
	<div class="accordion-item">
		<h2 class="accordion-header">
			<button class="accordion-button enteteAccordion" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
				Formulaire de recherche
			</button>
		</h2>
		<div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#formAccordion">
			<div class="accordion-body">
				{{ form_start(form, {'method': 'GET'}) }}
				<div class="row">
					<div class="col-12 col-md-2">
						{{ form_row(form.statut) }}
						{{ form_row(form.typeDocument) }}
						{{ form_row(form.numDit) }}
						{{ form_row(form.reparationRealise)}}
						{{ form_row(form.numDevis) }}
					</div>
					<div class="col-12 col-md-2">
						{{ form_label(form.niveauUrgence, '<a href="#" data-bs-toggle="modal" data-bs-target="#niveauUrgence" >Niveau d\'urgence</a>', { 'label_html': true }) }}
						{{ form_widget(form.niveauUrgence, {'attr': {'class': 'mb-3'}}) }}
						{{ form_row(form.internetExterne)}}
						{{ form_row(form.numOr)}}
						{{ form_row(form.sectionAffectee) }}
						{{form_row(form.ditSansOr)}}
					</div>
					<div class="col-12 col-md-2">
						{{ form_row(form.dateDebut) }}
						{{ form_row(form.dateFin) }}
						{{ form_row(form.statutOr) }}
						{{ form_row(form.sectionSupport1)}}
					</div>
					<div class="col-12 col-md-2">
						{{ macroForm.agence_service_change(form.agenceEmetteur, form.serviceEmetteur, 'spinner-service-emetteur', 'service-container-emetteur')}}
						{{form_row(form.categorie)}}
						{{form_row(form.sectionSupport2)}}
					</div>
					<div class="col-12 col-md-2">
					{{ macroForm.agence_service_change(form.agenceDebiteur, form.serviceDebiteur, 'spinner-service-debiteur', 'service-container-debiteur')}}
						{{form_row(form.utilisateur)}}
						{{form_row(form.sectionSupport3)}}
					</div>
					<div class="col-12 col-md-2">
						{{form_row(form.idMateriel)}}
						{{form_row(form.numParc)}}
						{{form_row(form.numSerie)}}
						{{ form_row(form.etatFacture)}}
						
					</div>
				</div>

				<div class="d-flex justify-content-end mb-2">
					<button class="btn btn-warning fw-bold" type="submit">
						<i class="fab fa-searchengin"></i>
						Recherche</button>
				</div>

				{{ form_end(form) }}
			</div>
		</div>
	</div>
</div>
