{% extends "baseTemplate.html.twig" %}

{% block title %}
	DIT - Soumission Devis
{% endblock %}

{% block stylesheets %}
	<link href="{{ App.base_path }}/Views/css/new.css?v=2025.10.22.08.00" rel="stylesheet"/>
	<link href="{{ App.base_path }}/Views/css/dit/ditInsertionOr.css?v=2025.10.22.08.00" rel="stylesheet"/>
{% endblock %}


{% block content %}
	{% set message = '' %}
	{% if type == 'VP' %}
		{% set message = 'vérification de prix au magasin' %}
	{% else %}
		{% set message = 'validation atelier' %}
	{% endif %}

	<div class=" container mt-6 mb-4">
		<div class="card">
			<div class="card-body">

				<div class="container">
					<div class="row">
						<div class="col-12 col-md-11">
							<h3 class="perso-titre">
								{% if type == 'VP' %}
									SOUMISSION DEVIS - vérification de prix magasin
								{% else %}
									SOUMISSION DEVIS - validation atelier
								{% endif %}
							</h3>
						</div>
						<div class=" col-12 col-md-1">
							<a href="{{ path("dit_index")}}" class="tablinks p-2 btn btn-outline-warning " style="text-decoration: none;color:black">Retour</a>
						</div>
					</div>
					{{ form_start(form, {'attr': {'enctype': 'multipart/form-data', 'id': 'upload-form'}}) }}
					{{ form_errors(form)}}
					<div class="row">
						<div class="col-12 col-md-6">
							<div class="row">
								<div class="col-12 col-md-6">{{ form_row(form.numeroDit)}}
									{{ form_errors(form.numeroDit)}}
								</div>
								<div class="col-12 col-md-6">
									{{ form_row(form.numeroDevis)}}
									{{ form_errors(form.numeroDevis)}}
								</div>
							</div>
							<div class="row {{type == 'VP' ? '' : 'd-none'}}">
								{{form_row(form.tacheValidateur)}}
								{{ form_errors(form.tacheValidateur)}}
							</div>
						</div>

						<div class="row">
							<div class="col-12 col-md-3">
								<p>Veuillez insérer
									<strong>le devis à valider *</strong>
								</p>
								{% include '/partials/_dropZoneFile.html.twig' with {'id': '1', 'form': form, 'fieldName': 'pieceJoint01'} %}
							</div>
						</div>


						<div id="pdf-preview-1" class="pdf-preview" style="display: none;">
							<embed id="pdf-embed-1" type="application/pdf" width="100%" height="500px">
						</div>
					</div>
					<div class="d-flex justify-content-end">
						<button type="submit" class="btn bouton mt-2" id="btn-enregistre-devis" data-confirmation data-form="#upload-form" data-confirmation-text="Vous êtes en train de soumettre le devis N° {{numDevis}} pour {{message}}">
							<i class="fas fa-save"></i>
							Enregistrer
						</button>
					</div>

					{{ form_end(form) }}
				</div>

			</div>
		</div>
	</div>
{% endblock %}
{% block javascript %}
	<script type="module" src="{{ App.base_path }}/Views/js/dit/ditDevisSoumisAValidation.js?v=2025.10.22.08.00"></script>

	<script>
		{% if App.session.get('devis_version_valide') == 'OK' %}
Swal.fire({


title: "Attention !",
text: "{{ App.session.get('message') }}", // Correcte en Twig
icon: "warning",
showCancelButton: true,
confirmButtonText: "Continuer",
cancelButtonText: "Quitter"


}).then((result) => {


if (result.isConfirmed) { // L'utilisateur veut continuer

window.location.href = window.location.href + "?continueDevis=1";


} else { // L'utilisateur annule, redirection vers l'accueil
window.location.href = "{{ path('dit_index') }}";


}

});{% endif %}
	</script>
{% endblock %}
