{% extends "baseTemplate.html.twig" %}

{% block title %}
	Documentation interne
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ App.base_path }}/Views/css/list.css?v=2025.10.22.08.00">
{% endblock %}

{% block overlay %}
	{% include "/shared/_overlay.html.twig" %}
{% endblock %}

{% block content %}
	<div class="sticky-header-titre">
		<div class="container">
			{% include "/partials/_notification.html.twig" %}
			{% include "/dw/shared/_formulaireRechercheDocInterne.html.twig" %}
			{% include "/dw/shared/_paginationDocInterne.html.twig" %}
		</div>
	</div>

	<div class="container-fluid">
		<table class="table table-sticky">
			<thead class="table-dark">
				<tr>
					<th class="text-center">Date de document</th>
					<th>Nom du document</th>
					<th class="text-center">Type de document</th>
					<th class="text-center">Périmètre de diffusion</th>
					<th class="text-center">Processus lié</th>
					<th class="text-center">Responsable processus</th>
					<th class="text-center">N° de version</th>
					<th class="text-center">Date de version</th>
				</tr>
			</thead>
			<tbody>
				{% for item in data %}
					<tr>
						<td class="text-center">{{ item.dateDocument | date('d/m/Y') }}</td>
						<td>
							<a target="_blank" href="{{ App.base_path_fichier }}/documentation/{{ item.idDocument }}.pdf">{{ item.nomDocument}}</a>
						</td>
						<td class="text-center">{{ item.typeDocument}}</td>
						<td class="text-center">{{ item.perimetre}}</td>
						<td class="text-center">{{ item.processusLie}}</td>
						<td class="text-center">{{ item.nomResponsable}}</td>
						<td class="text-center">{{ item.numeroVersion}}</td>
						<td class="text-center">{{ item.dateModification | date('d/m/Y') }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	<!-- FIN tableau -->


{% endblock %}

{% block javascript %}
	<script src="{{ App.base_path }}/Views/js/utils/positionSticky.js?v=2025.10.22.08.00"></script>
{% endblock %}
