{% extends "baseTemplate.html.twig" %}

{% block title %}
	Création casier - 2
{% endblock %}

{% block stylesheets %}
	<link href="{{ App.base_path }}/Views/css/badm/formulaireCasier.css?v=2025.10.22.08.00" rel="stylesheet"/>
{% endblock %}

{% import "macroForm.html.twig" as formMacro %}


{% block content %}

<div class="container mt-6 mb-4">

	<div class="row">
		<div class="col-12 col-md-11">
			<h3 class="perso-titre">Nouvelle Casier Matériel</h3>
		</div>

		<div class=" col-12 col-md-1">
			<a href="{{ path("casier_nouveau")}}" class="tablinks p-2 btn btn-outline-warning btnRetour">Retour</a>
		</div>
	</div>
	<div class="row"></div>


	{{ form_start(form)}}


	<div class="row">
		<div class="col-12 col-md-6 col-lg-4">{{ form_row(form.dateDemande)}}</div>
	</div>

	<div class="row">
		{{ formMacro.sousTitre('Caractéristiques du matériel', {class: 'sousTitre'})}}
	</div>
	<div class="row">
		<div class="col-12 col-md-6 col-lg-3">{{ form_row(form.designation)}}</div>
		<div class="col-12 col-md-6 col-lg-3">{{ form_row(form.idMateriel)}}</div>
		<div class="col-12 col-md-6 col-lg-3">{{ form_row(form.numSerie)}}</div>
		<div class="col-12 col-md-6 col-lg-3">{{ form_row(form.numParc)}}</div>
	</div>
	<div class="row">
		<div class="col-12 col-md-6 col-lg-3">{{ form_row(form.groupe)}}</div>
		<div class="col-12 col-md-6 col-lg-3">{{ form_row(form.constructeur)}}</div>
		<div class="col-12 col-md-6 col-lg-3">{{ form_row(form.modele)}}</div>
		<div class="col-12 col-md-6 col-lg-3">{{ form_row(form.anneeDuModele)}}</div>
	</div>
	<div class="row d-flex">
		<div class="col-12 col-md-6 col-lg-3">{{ form_row(form.affectation)}}</div>
		<div class="col-12 col-md-6 col-lg-3">{{ form_row(form.dateAchat)}}</div>
	</div>


	<div class="row">
		{{ formMacro.sousTitre('Nouveau casier', {class: 'sousTitre'})}}
	</div>
	<div class="row">
		<div class="col-12 col-md-6 col-lg-4">{{form_row(form.agence)}}</div>
	</div>
	<div class="row">
		<div class="col-12">{{ form_row(form.motif)}}</div>

	</div>
	<div class="row">
		<div class="col-12 col-md-6">{{ form_row(form.client, { 'attr': { 'class': 'limiteCarater'}})}}</div>
		<div class="col-12 col-md-6">{{ form_row(form.chantier, { 'attr': { 'class': 'limiteCarater'}})}}</div>
	</div>


	<div class="row mt-5">
		{{formMacro.button('submit', 'Envoyer', 'casComplet', 'color', {onclick:'confirm("Veuillez vérifier attentivement avant d\'envoyer.")'})}}
        </div>
    </form>
</div>        
    {% endblock content %}


    {% block javascript %}
    <script type="module" src="{{ App.base_path }}/Views/js/casier/form2.js?v=2025.10.22.08.00"></script>
	{% endblock %}
