{% extends "baseTemplate.html.twig" %}

{% block title %}
	Liste casier
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ App.base_path }}/Views/css/ListDomRech.css?v=2025.10.22.08.00">
	<link rel="stylesheet" href="{{ App.base_path }}/Views/css/badm/listeCasier.css?v=2025.10.22.08.00">
{% endblock %}

{% import "macroForm.html.twig" as formMacro %}

{% block content %}
	<div class="container mt-6 mb-4">


		<div class="row ">

			<h3 class="perso-titre">
				Liste des casiers definitives
			</h3>

		</div>

		<!-- DEBUT recherche -->

		{{ form_start(form)}}
		<div class="row">
			<div class="col-12 col-md-2">{{ form_row(form.agence)}}</div>

			<div class="col-12 col-md-2">
				{{ form_row(form.casier)}}
			</div>
		</div>
		<div class="boutonRecherche col-md-4">
			<input type="submit" class="btn  fw-bold" id="recherche" style="background-color: #FBBB01 ;" value="Rechercher">
		</div>
		{{ form_end(form)}}

		<!-- FIN recherche -->


		<!-- DEBUT bouton -->
			<div
			class="row justify-content-center my-4"> <!-- DEBUT Pagination -->
			<div class="col-12 col-md-12 col-lg-4  mt-1">
				<div id="pagination-wrapper"></div>
			</div>
			<!-- FIN Pagination -->
		</div>
		<!-- FIN bouton -->
	</div>

	<!-- DEBUT tableau -->
	<div class="container ">
		{% if empty == true %}
			<div class="container">
				{% include "/partials/_noResultList.html.twig" %}
			</div>
		{% else %}
			<div class="row">
				{% include "/badm/casier/_pagination.html.twig" %}
			</div>
			<table class="table  table-shadow shadow  rounded " style="text-align: center;">
				<thead class="table-dark">
					<tr>
						<th>Agence rattaché</th>
						<th>Casier</th>
						<th>Date de création</th>
						<th>Numero Casier</th>
					</tr>
				</thead>
				<tbody id="table-container">
					{% for item in casier %}
						<tr>
							<td>{{item.AgenceRattacher.codeAgence}}</td>
							<td style="text-align:left">{{item.Casier}}</td>
							<td>{{item.dateCreation|date("d/m/Y")}}</td>
							<td>{{item.NumeroCAS}}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		{% endif %}
	</div>
	<!-- FIN tableau -->


{% endblock %}

{% block javascript %}
	<script type="module" src="{{ App.base_path }}/Views/js/badm/listCasier.js?v=2025.10.22.08.00"></script>
{% endblock %}
