{% extends "baseTemplate.html.twig" %}

{% import "macroForm.html.twig" as formMacro %}

{% block title %}
	Création casier - 1
{% endblock %}

{% block content %}

	<div class="container mt-6 mb-4">
		<div class="card">
			<div class="card-body">
				<div class="d-flex  flex-row-reverse px-2">
					<h4 class="perso-titre">Nouveau Casier</h4>
				</div>
				{{ form_start(form)}}
				<div class="row">
					<div class="col-12 col-md-4">
						{{ form_row(form.agenceEmetteur)}}
					</div>
					<div class="col-12 col-md-4">
						{{ form_row(form.serviceEmetteur)}}
					</div>
				</div>
				<div class="row">
					<div class="col-12 col-md-4">{{ form_row(form.idMateriel)}}</div>
					<div class="col-12 col-md-4">{{ form_row(form.numParc)}}</div>
					<div class="col-12 col-md-4">{{ form_row(form.numSerie)}}</div>
				</div>
				<div class="row mt-2">
					{{ formMacro.button('submit', 'Suivant','enregistrer', 'color')}}
				</div>
				{{ form_end(form)}}
			</div>
		</div>
	</div>

{% endblock content %}
