{% extends "baseTemplate.html.twig" %}

{% block title %}
	Pointage
{% endblock %}

{% block stylesheets %}
	<link href="{{ App.base_path }}/Views/css/new.css?v=2025.10.22.08.00" rel="stylesheet"/>
{% endblock %}

{% block content %}
	<div class=" container mt-6 mb-4">
		<div class="card">
			<div class="card-body">

				<div class="container">
					<div class="row">
						<div class="col-12 col-md-11"></div>
						<div class=" col-12 col-md-1">
							<a href="{{ path("devis_magasin_pol_liste")}}" class="tablinks p-2 btn btn-outline-warning " style="text-decoration: none;color:black">Retour</a>
						</div>
					</div>

					{{ form_start(form, {'attr': {'enctype': 'multipart/form-data', 'id': 'upload-form'}}) }}
					{{ form_errors(form)}}
					<div class="row">
						<div class="col-12 col-md-6">
							{{ form_row(form.numeroDevis) }}
						</div>
						<div class="col-12 col-md-6">
							{{ form_row(form.dateEnvoiDevisAuClient) }}
						</div>
					</div>

					<div class="d-flex justify-content-end">
						<button type="submit" class="btn bouton mt-2" id="btn-enregistre-devis" data-confirmation data-form="#upload-form" data-confirmation-text="Vous êtes en train de soumettre le devis N° {{numDevis}} pour {{message}}">
							<i class="fas fa-save"></i>
							Enregistrer
						</button>
					</div>
					{{ form_end(form) }}
				</div>
			</div>
		</div>
	</div>
{% endblock %}
