{% extends "baseTemplate.html.twig" %}
{% block stylesheets %}
	<link rel="stylesheet" href="{{ App.base_path }}/Views/css/list.css?v=2025.10.22.08.00">
	<link rel="stylesheet" href="{{ App.base_path }}/Views/css/magasin/magasin.css?v=2025.10.22.08.00">
	<link href="{{ App.base_path }}/Views/css/dit/news.css?v=2025.10.22.08.00" rel="stylesheet"/>
{% endblock %}
{% import "macroForm.html.twig" as macroForm %}
{% block content %}
	<div id="conteneur" data-page-type="liste_cde_fnr_non_place">
		<div class="container mb-3">
			<h3 class="perso-titre">
				Liste des commande fournisseurs non placée
			</h3>

			{% include "/magasin/partials/lcfnp/_formRechLcfnp.html.twig" %}
			{% include "/magasin/partials/_boutonExcel.html.twig" with { "routeName" : "export_liste_Cde_Frn_Non_placer" } %}
		</div>
		<div class="container-fluid">
			<div class="table-responsive" style="max-height: 70vh; overflow-y: auto;">
				<table class="table rounded table-plein-ecran">
					<thead class="table-dark sticky-top">
						<tr>
							<th class="text-center">N° Commande Fournisseur
							</th>
							<th class="text-center">Date Commande Fournisseur</th>
							<th class="text-center">N° Fournisseur</th>
							<th class="text-center">Nom Fournisseur</th>
							<th class="text-center">Montant Commande</th>
							<th class="text-center">Devis</th>
							<th class="text-center">N° OR</th>
						</tr>
					</thead>
					<tbody id="tableBody">
						{% for item in data %}
							<tr>
								<td class="text-center">
									{{ item.n_commande}}</td>
								<td class="text-center">
									{{ item.date_cmd | date('d/m/Y')}}</td>
								<td class="text-center">
									{{ item.n_frs}}</td>
								<td class="text-center">
									{{ item.nom_frs}}</td>
								<td style="text-align: right;">
									{{ item.mont_ttc |number_format(2, ',', ' ') }}</td>
								<td class="text-center">
									{{ item.devis}}</td>
								<td class="text-center">
									{{ item.n_or}}</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
{% endblock %}
{% block javascript %}
	<script src="{{ App.base_path }}/Views/js/magasin/main.js?v=2025.10.22.08.00" type="module"></script>
	<script src="{{ App.base_path }}/Views/js/magasin/autoFrsnp.js?v=2025.10.22.08.00" type="module"></script>
{% endblock %}
