{% extends "baseTemplate.html.twig" %}

{% block title %}
	Liste BADM
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ App.base_path }}/Views/css/list.css?v=2025.10.22.08.00">
{% endblock %}

{# {% import "macroForm.html.twig" as form %} #}

{% block content %}
	{# {% include "/partials/_loader.html.twig" %} #}

	<div class="container-fluid mt-6 mb-4">
		<div class="container mb-2">
			{% include "/partials/_notification.html.twig" %}
			{% include "/badm/_formulaireRecherche.html.twig" %}
		</div>

		<!-- DEBUT tableau -->
		<div class="container-fluid">
			{% if empty == true %}
				<div class="container">
					{% include "/partials/_noResultList.html.twig" %}
				</div>
			{% else %}
				<div class="container">
					{% include "/badm/_pagination.html.twig" %}
				</div>

				<table class="table rounded table-plein-ecran">
					<thead class="table-dark">
						<tr>
							<th>
								<i class="fas fa-ellipsis-vertical"></i>
							</th>
							<th>Statut</th>
							<th>N° BADM</th>
							<th>Date demande</th>
							<th>Mouvement</th>
							<th>Id Materiel</th>
							<th>Ag\Serv Emetteur</th>
							<th>Ag\Serv Destinataire</th>
							<th>Désignation</th>
							<th>N° Série</th>
							<th>N° Parc</th>
							<th>Casier emetteur</th>
							<th>Casier destinataire</th>
							<th>
								Durée Traitement</th>
						</tr>
					</thead>
					<tbody>
						{% for item in data %}
							<tr>
								{# Début Action #}
								<td style="padding: 0px;" class="align-middle">
									<div class="dropdown">
										<button class="btn btn-sm dropdown-toggle trois-points-vertical" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
											<i class="fas fa-ellipsis-vertical"></i>
										</button>
										<ul class="dropdown-menu dropdown-menu-end" id="dropdown-menu" aria-labelledby="dropdownMenuButton" style="">
											<li>
												<a class="dropdown-item fw-bold" style="color: #000;" href="{{ path("badms_newForm1")}}">Ajouter</a>
											</li>
										</ul>
									</div>
								</td>
								{# Fin Actions #}

								{# DEBUT Statut #}
								{% if item.statutDemande.description | trim == 'OUVERT' %}
									<td class="bg-warning bg-gradient text-cente">
										{{item.statutDemande.description | trim}}</td>
								{% elseif item.statutDemande.description | trim == 'CLOTURE' or item.statutDemande.description | trim == 'CLOTURE COMPTA' %}
									<td class="bg-success bg-gradient">{{item.statutDemande.description | trim}}</td>
								{% elseif item.statutDemande.description | trim == 'A VALIDER SERVICE DESTINATAIRE' %}
									<td class="bg-success " style="--bs-bg-opacity: .5;">{{item.statutDemande.description | trim}}</td>
								{% elseif item.statutDemande.description | trim == 'A VALIDER SERVICE DESTINATAIRE  ' %}
									<td class="bg-info">{{item.statutDemande.description | trim}}</td>
								{% elseif item.statutDemande.description | trim == 'ANNULE INFORMATIQUE' or item.statutDemande.description | trim == 'ANNULE SERVICE DESTINATAIRE' or item.statutDemande.description | trim == 'ANNULE SERVICE EMETTEUR' or item.statutDemande.description | trim =='ANNULE' %}
									<td class="bg-danger">{{item.statutDemande.description | trim}}</td>
								{% elseif item.statutDemande.description | trim == 'ATTENTE VALIDATION DG'  %}
									<td class="bg-primary">{{item.statutDemande.description | trim}}</td>
								{% elseif item.statutDemande.description | trim == 'A VALIDER SERVICE EMETTEUR'%}
									<td class="bg-primary" style="--bs-bg-opacity: .5;">{{item.statutDemande.description | trim}}</td>
								{% else %}
									<td>{{item.statutDemande.description | trim}}</td>
								{% endif %}
								{# FIN Statut #}

								<td>
									<a href="{{ path('BadmDetail_detailBadm', {id: item.id}) }}" target="_blank">{{ item.numBadm }}</a>
								</td>
								<td>{{ item.dateDemande | date('d/m/Y')}}</td>
								<td>{{ item.typeMouvement}}</td>
								<td>{{ item.idMateriel}}</td>
								<td>{{ item.agenceServiceEmetteur }}</td>
								<td>{{ item.agenceServiceDestinataire}}</td>
								<td>{{ item.designation}}</td>
								<td>{{ item.numSerie}}</td>
								<td>{{ item.numParc}}</td>
								<td>{{ item.casierEmetteur}}</td>
								<td>{{ item.casierdestinataire.casier ?? ''}}</td>
								{% set startDate = item.dateDemande | date('Y-m-d') %}
								{% set currentDate = "now"|date("Y-m-d") %}
								{% set diff = date(currentDate).diff(date(startDate)) %}
								<td>
									{{ diff.days }}
									jours</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			{% endif %}
		</div>
		<!-- FIN tableau -->
	{% endblock %}
	{% block javascript %}
		<script src="{{ App.base_path }}/Views/js/badm/listBadm.js?v=2025.10.22.08.00" type="module"></script>
	{% endblock %}
