{% import "macroForm.html.twig" as macroForm %}

<!-- DEBUT recherche -->
<div class="accordion" id="accordionExample">
	<div class="accordion-item">
		<h2 class="accordion-header">
			<button class="accordion-button enteteAccordion" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
				Formulaire de recherche
			</button>
		</h2>
		<div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
			<div class="accordion-body">
				{{ form_start(form, {'method': 'GET'}) }}
				<div class="row">
					<div class="col-12 col-md-2">
						{{ form_row(form.demandeur) }}
						{{ form_row(form.numParc) }}
						{{ form_row(form.numeroTicket) }}
					</div>
					<div class="col-12 col-md-2">
						{{ form_label(form.niveauUrgence, '<a href="#" data-bs-toggle="modal" data-bs-target="#niveauUrgence" >Niveau d\'urgence</a>', { 'label_html': true }) }}
						{{ form_widget(form.niveauUrgence) }}
						{{ form_row(form.statut) }}
						{{ form_row(form.nomIntervenant, { attr: { disabled: not autorisation.autoriserIntervenant and not autorisation.autoriserValidateur }}) }}
					</div>
					<div class="col-12 col-md-2">
						{{ form_row(form.dateDebut) }}
						{{ form_row(form.dateFin) }}

					</div>
					<div class="col-12 col-md-2">
						{{form_row(form.agenceEmetteur)}}

						{{ macroForm.spinner_load('spinner-service-emetteur', 'service-emetteur-container', form.serviceEmetteur) }}
					</div>
					<div class="col-12 col-md-2">
						{{form_row(form.agenceDebiteur)}}

						{{ macroForm.spinner_load('spinner-service-debiteur', 'service-debiteur-container', form.serviceDebiteur) }}
					</div>

					<div class="col-12 col-md-2">
						{{ form_row(form.categorie) }}

						{{ macroForm.spinner_load('spinner-sous-categorie', 'sous-categorie-container', form.sousCategorie) }}

						{{ macroForm.spinner_load('spinner-autres-categories', 'autres-categories-container', form.autresCategories) }}
					</div>
				</div>

				<div class="d-flex justify-content-end mb-2">
					<button class="btn btn-warning fw-bold" type="submit">
						<i class="fab fa-searchengin"></i>
						Recherche</button>
				</div>

				{{ form_end(form) }}
			</div>
		</div>
	</div>
</div>
