{% extends "baseTemplate.html.twig" %}


{% block content %}
	<div class=" container">
		<div class="card">
			<div class="card-body">

				<div class="container">
					<h3 class="perso-titre">
						Formulaire Demande d'intervention
					</h3>

					<a href="{{path("utilisateur_index")}}" class="btn btn-sm  text-white my-3 fw-bold" style="background-color: #FBBB01;">Liste</a>

					{{ form_start(form) }}
					{{ form_errors(form)}}

					<div class="row">
						<div class="col-12 col-md-6">

							{{ form_row(form.objetDemande)}}
							{{ form_row(form.detailDemande)}}
							{{ form_row(form.pieceJoint03)}}
							{{ form_row(form.pieceJoint02)}}
							{{ form_row(form.pieceJoint01)}}


						</div>
						<div class="col-12 col-md-6">


							{{ form_row(form.agenceEmetteur)}}
							{{ form_row(form.agenceDebiteur)}}
							{{ form_row(form.serviceEmetteur)}}
							{{ form_row(form.serviceDebiteur)}}

						</div>
					</div>


					<button type="submit" class="btn btn-primary">
						<i class="fas fa-save"></i>
						Enregistrer
					</button>
					{{ form_end(form) }}
				</div>

			</div>
		</div>

	{% endblock %}
