<div class="d-flex justify-content-between">
	<div class="align-self-center">
		{% if mesDaActif %}
			<a href="{{ path('list_da') }}" class="btn btn-sm btn-warning fw-bold" data-bs-toggle="tooltip" title="Mes DA à traiter">
				<i class="fas fa-list-check"></i>
				Mes DA à traiter
			</a>
		{% else %}
			<button class="btn btn-sm btn-outline-secondary fw-bold" data-bs-toggle="tooltip" title="Retour à la liste complète" id="btnMesDaATraiter" data-code-agence-user="{{ data.0.codeAgenceUser }}" data-code-service-user="{{ data.0.codeServiceUser }}">
				<i class="fas fa-arrow-left"></i>
				Afficher Tous les DA
			</button>
		{% endif %}
		<a href="{{ path("export_excel_list_da")}}" class="btn btn-sm bg-success text-white fw-bold me-3 afficher-overlay">
			<i class="fas fa-table"></i>
			Excel
		</a>
	</div>
	<div class="align-self-center">
		<p class="fw-bold m-0">{{ resultat }}
			Résultats
		</p>
	</div>
	<div class="align-self-center">
		<p class="fw-bold m-0">{{ currentPage ~ ' / ' ~ totalPages }}
			page
		</p>
	</div>

	<div class="navigation">
		{% set queryParams = criteria %}

		{# Lien vers la première page #}
		{% if currentPage > 1 %}
			<a class="btn btn-dark my-1" href="{{ path('list_da', queryParams|merge({'page': 1})) }}" data-bs-toggle="tooltip" title="Première page">
				<i class="fas fa-angle-double-left text-warning"></i>
			</a>
		{% endif %}

		{# Lien vers la page précédente #}
		{% if currentPage > 1 %}
			<a class="btn btn-dark my-1" href="{{ path('list_da', queryParams|merge({'page': currentPage - 1})) }}" data-bs-toggle="tooltip" title="Page précédente">
				<i class="fas fa-angle-left text-warning"></i>
			</a>
		{% endif %}

		{# Lien vers la page suivante #}
		{% if currentPage < totalPages %}
			<a class="btn btn-dark my-1" href="{{ path('list_da', queryParams|merge({'page': currentPage + 1})) }}" data-bs-toggle="tooltip" title="Page suivante">
				<i class="fas fa-angle-right text-warning"></i>
			</a>
		{% endif %}

		{# Lien vers la dernière page #}
		{% if currentPage < totalPages %}
			<a class="btn btn-dark my-1" href="{{ path('list_da', queryParams|merge({'page': totalPages})) }}" data-bs-toggle="tooltip" title="Dernière page">
				<i class="fas fa-angle-double-right text-warning"></i>
			</a>
		{% endif %}
	</div>
</div>
