{% extends "baseTemplate.html.twig" %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ App.base_path }}/Views/css/list.css?v=2025.10.22.08.00">
	<link rel="stylesheet" href="{{ App.base_path }}/Views/css/magasin/magasin.css?v=2025.10.22.08.00">
{% endblock %}

{% import "macroForm.html.twig" as macroForm %}

{% block content %}
	<div id="conteneur" data-page-type="liste_cde_fnr_non_genere">
		<div class="container">
			<h3 class="perso-titre">
				Liste des commande fournisseurs non générée
			</h3>

			{% include "/magasin/partials/lcfng/_formRechLcfng.html.twig" %}
			{% include "/magasin/partials/_boutonExcel.html.twig" with { "routeName" : "export_excel_liste_cde_frs_non_generer" } %}
		</div>

		<div class="container-fluid">
			<div class="table-responsive" style="max-height: 70vh; overflow-y: auto;">
				<table class="table rounded table-plein-ecran">
					<thead class="table-dark sticky-top">
						<tr>
							<th>
								<i class="fas fa-ellipsis-vertical"></i>
							</th>
							<th class="text-center">Type Document</th>
							<th class="text-center">N° Document</th>
							<th class="text-center">Date Document</th>
							<th class="text-center">Libelle</th>
							<th class="text-center">N° DIT</th>
							<th class="text-center">Ag/Serv Emetteur</th>
							<th class="text-center">Ag/Serv Débiteur / Client</th>
							<th class="text-center">N° ITV</th>
							<th class="text-center">N° lig</th>
							<th class="text-center">CST</th>
							<th>Réf</th>
							<th>Désignation</th>
							<th class="text-center">Qté demandée</th>
							<th class="text-center">Qté reliquat</th>
						</tr>
					</thead>
					<tbody id="tableBody">
						{% for item in data %}
							<tr>
								<td>
									<i class="fas fa-ellipsis-vertical"></i>
								</td>
								<td class="text-center">{{item.type_document}}</td>
								<td class="text-center">{{item.numdocument}}</td>
								<td class="text-center">{{item.datedocument | date('d/m/Y')}}</td>
								<td class="text-center">{{item.libelle}}</td>
								<td class="text-center">{{item.numdit == null ? '-' : item.numdit}}</td>
								<td class="text-center">{{item.agenceservicecrediteur}}</td>
								<td class="text-center">{{item.agenceservicedebiteur == null ? '-' : item.agenceservicedebiteur}}</td>
								<td class="text-center">{{item.numinterv}}</td>
								<td class="text-center">{{item.numeroligne}}</td>
								<td class="text-center">{{item.constructeur}}</td>
								<td>{{item.referencepiece}}</td>
								<td>{{item.designations}}</td>
								<td class="text-center">{{item.quantitedemander}}</td>
								<td class="text-center">{{item.quantitereliquat}}</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
{% endblock %}

{% block javascript %}
	<script src="{{ App.base_path }}/Views/js/magasin/main.js?v=2025.10.22.08.00" type="module"></script>
{% endblock %}
