{% extends "baseTemplate.html.twig" %}

{% block title %}
    Magasin - Soumission commandes fournisseur à génerer
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ App.base_path }}/Views/css/list.css?v=2025.10.22.08.00">
    <link rel="stylesheet" href="{{ App.base_path }}/Views/css/new.css?v=2025.10.22.08.00">
    <link rel="stylesheet" href="{{ App.base_path }}/Views/css/magasin/magasin.css?v=2025.10.22.08.00">
{% endblock %}


{% block content %}
    <div class=" container mt-6 mb-4">
        <div class="">
            <div class="">


                {{ form_start(form , { 'attr': { 'id': 'myForm' } }) }}
                {{ form_errors(form)}}
                <div class="row">

                    <div class=" g-4 align-items-start">

                        <div class=" col-md-4">
                            <div class="row align-items-center">
                                <div class="col-8">
                                    {{ form_row(form.numCmde) }}
                                </div>
                                <div class="col-4">
                                    <button type="button" class="btn bouton-brouillon border w-100" id="genererPdf" name="genererPdf">
                                        Générer PDF
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="" id="viewer-container" style="display: none;">
                            {# Conteneur qui maintient le ratio A4 paysage (largeur 100%, hauteur = largeur * 0.707) #}
                            <div id="file-viewer" style="position: relative; width: 100%; padding-bottom: 70.7%; height: 0; overflow: hidden; border: 1px solid #ccc;">

                                {# Iframe – prend toute la zone définie par le padding-bottom #}
                                <iframe id="pdf-iframe" src="" name="pdf-iframe" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; border: none;"></iframe>

                                {# Spinner – centré absolument #}
                                <div id="spinners" style="display: none; position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: 10; background: rgba(255,255,255,0.8);">
                                    <div style="display: flex; align-items: center; justify-content: center; flex-direction: column; height: 100%;">
                                        <i class="fas fa-spinner fa-spin"></i>
                                        <div class="mt-2">Génération du PDF en cours...</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="d-flex justify-content-end mt-2" >
                        <button type="submit" class="bouton-principal" name="soumissionValidationCommande" id="validationBtn" style="display:none ;">
                            <i class="fas fa-paper-plane"></i>
                            Soumettre à validation
                        </button>
                    </div>
                    {{ form_end(form) }}

                </div>
            </div>
        </div>
    {% endblock %}
    {% block javascript %}
        <script src="{{ App.base_path }}/Views/js/magasin/main.js?v=2025.10.22.08.00" type="module"></script>
        <script src="{{ App.base_path }}/Views/js/magasin/commande/soumissionCommandeFournisseur.js?v=2025.10.22.08.00" type="module"></script>
    {% endblock %}
