{% extends "baseTemplate.html.twig" %}

{% block title %}
	Magasin - Soumission commandes fournisseur à génerer
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ App.base_path }}/Views/css/list.css?v=2025.10.22.08.00">
	<link rel="stylesheet" href="{{ App.base_path }}/Views/css/new.css?v=2025.10.22.08.00">
	<link rel="stylesheet" href="{{ App.base_path }}/Views/css/magasin/magasin.css?v=2025.10.22.08.00">
{% endblock %}


{% block content %}
	<div class=" container-spaced mt-6 mb-4">
		<div class="card p-3">
			{% include "/partials/_notification.html.twig" %}
			{{ form_start(form , { 'attr': { 'id': 'myForm' } }) }}
			{{ form_errors(form)}}
			<div class="row">
				<div class=" g-4 align-items-center">
					<div class=" col-md-3 ">
						<div class="row align-items-center">
							<div class="col-8">
								{{ form_row(form.numCmde) }}
							</div>
							<div class="col-4 mt-2">
								<button type="button" class="btn bouton-brouillon border " id="genererPdf" name="genererPdf">
									Générer PDF
								</button>
							</div>
						</div>
					</div>
					<div class="" id="viewer-container" style="display: none;">
						<div id="file-viewer" class="position-relative w-100 border rounded overflow-hidden" style="height: 600px;">
							<iframe id="pdf-iframe" name="pdf-iframe" src="" class="position-absolute top-0 start-0 w-100 h-100 border-0"></iframe>
							{# Spinner #}
							<div id="spinners" class="position-absolute top-0 start-0 w-100 h-100 d-none bg-white bg-opacity-75">
								<div class="d-flex flex-column justify-content-center align-items-center h-100">
									<i class="fas fa-spinner fa-spin fa-2x"></i>
									<div class="mt-2">Génération du PDF en cours...</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="d-flex justify-content-end mt-2">
					<button type="submit" class="bouton-principal" name="soumissionValidationCommande" id="validationBtn" style="display:none ;">
						<i class="fas fa-paper-plane"></i>
						Soumettre à validation
					</button>
				</div>
				{{ form_end(form) }}
			</div>
		</div>
	</div>
{% endblock %}

{% block javascript %}
	<script src="{{ App.base_path }}/Views/js/magasin/commande/soumissionCommandeFournisseur.js?v=2025.10.22.08.00" type="module"></script>
{% endblock %}
