<div class="accordion" id="formAccordion">
	<div class="accordion-item">
		<h2 class="accordion-header">
			<button class="accordion-button enteteAccordion" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
				Formulaire de recherche
			</button>
		</h2>
		<div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#formAccordion">
			<div class="accordion-body">
				{{ form_start(form, { 'attr': { 'id': 'planning_search_form' } }) }}

				<div class="row">
					<div class="col-12 col-md-2">
						{{form_row(form.agence)}}
						{{form_row(form.agenceDebite)}}
						{{form_row(form.interneExterne)}}
					</div>
					<div class="col-12 col-md-2">
						{{form_row(form.serviceDebite)}}
						{{form_row(form.section)}}
					</div>
					<div class="col-12 col-md-2">
						{{ form_label(form.niveauUrgence, '<a href="#" data-bs-toggle="modal" data-bs-target="#niveauUrgence" data-id="{{item.numeroDemandeIntervention}}" id="numOr">Niveau d\'urgence</a>', { 'label_html': true }) }}
						{{ form_widget(form.niveauUrgence) }}
						{{form_row(form.typeligne)}}
						{{form_row(form.idMat)}}
						{{form_row(form.casier)}}
					</div>
					<div class="col-12 col-md-2">
						{{form_row(form.facture)}}
						{{form_row(form.numOr)}}
						{{form_row(form.typeDocument)}}
						{{form_row(form.orBackOrder)}}
						{% if App.userConnecter.isAdmin %}
							{{form_row(form.orNonValiderDw)}}
						{% else %}
							{{form_row(form.orNonValiderDw, {'row_attr': {'class': 'd-none'}})}}
						{% endif %}					
					</div>
					<div class="col-12 col-md-2">
						{{form_row(form.plan)}}
						{{form_row(form.numSerie)}}
						{{form_row(form.numParc)}}
						{{form_row(form.reparationRealise)}}
					</div>
					<div class="col-12 col-md-2">
						{# {{form_row(form.annee)}} #}
						{{ form_row(form.months, {'label': 'Période', 'attr': {'class': 'form-select'}}) }}
						{{form_row(form.dateDebut)}}
						{{form_row(form.dateFin)}}
					</div>
				</div>
				<div class="d-flex justify-content-end mb-2">
					<button class="btn btn-warning fw-bold"  id = "btn_search" type="submit">
						<i class="fab fa-searchengin"></i>
						Recherche
					</button>
				</div>
			</div>
			{{ form_end(form)}}
		</div>
	</div>
</div>
