{% extends "baseTemplate.html.twig" %}

{% block title %}
	Planning détaillé
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ App.base_path }}/Views/css/list.css?v=2025.10.22.08.00">
	<link rel="stylesheet" href="{{ App.base_path }}/Views/css/planning/planning.css?v=2025.10.22.08.00">
{% endblock %}

{% block overlay %}
	{% include "/shared/_overlay.html.twig"  %}
{% endblock %}

{% block content %}
	<div class="sticky-header-titre">
		<div class="container">
			{% include "/planning/_formulaire.html.twig" %}

			<div class="d-flex justify-content-between">
				{% include "/partials/_statutSituationPiece.html.twig" with { 'avecBackOrder' : true } %}
				<div class="my-2 d-flex flex-row">
					<div tabindex="0" id="dispo stock">
						<i class="fa-solid fa-circle " style="color: #c8ad7f"></i>
						<small style="color: #c8ad7f">Dispo stock |</small>
					</div>
					<div tabindex="0" id="back error">
						<i class="fa-solid fa-circle text-danger"></i>
						<small class="text-danger">Back Order / Error |</small>
					</div>
					<div tabindex="0" id="cmd frs">
						<i class="fa-solid fa-circle " style="color: #9ACD32"></i>
						<small style="color: #9ACD32">Commande envoyée fournisseur |</small>
					</div>
					<div tabindex="0" id="reception partiel">
						<i class="fa-solid fa-circle " style="color: #EE82EE"></i>
						<small style="color: #EE82EE">Réception Partielle</small>
					</div>
				</div>
			</div>
			{% include "/planning/_pagination.html.twig" %}
		</div>
	</div>
	<table class="table table-sticky">
		<thead class="table-dark">
			<tr class="align-middle text-center">
				<th class="border border-1 border-white" rowspan="2" style="width: 194px;">Agence - Service Travaux</th>
				<th class="border border-1 border-white" colspan="12">Matériel</th>
				<th class="border border-1 border-white" colspan="9">ORDRE DE REPARATION</th>
				<th class="border border-1 border-white" colspan="7">CESSION INTER STOCK</th>
			</tr>
			<tr class="align-middle text-center">
				<th class="border-bottom">Marque</th>
				<th class="border-bottom">Modèle</th>
				<th class="border-bottom">ID</th>
				<th class="border-bottom">N° Série</th>
				<th class="border-bottom">N° Parc</th>
				<th class="border-bottom">Casier</th>
				<th class="border-bottom">Intitulé travaux</th>
				<th class="border-bottom">N° OR-Itv</th>
				<th class="border-bottom">Date planning</th>
				<th class="border-bottom">CST</th>
				<th class="border-bottom">Ref</th>
				<th class="border-end border-bottom">Dési</th>
				<th class="border-bottom">Qté cde</th>
				<th class="border-bottom">Qté all</th>
				<th class="border-bottom">Qté reliq</th>
				<th class="border-bottom">Qté liv</th>
				<th class="border-bottom">Statut</th>
				<th class="border-bottom">Date statut</th>
				<th class="border-bottom">Ctr Marque</th>
				<th class="border-bottom">Cde frn</th>
				<th class="border-end border-bottom">Statut ctrmrq</th>
				<th class="border-bottom">numCIS</th>
				<th class="border-bottom">Qté Cde</th>
				<th class="border-bottom">Qté all</th>
				<th class="border-bottom">Qté rel</th>
				<th class="border-bottom">Qté liv</th>
				<th class="border-bottom">Statut</th>
				<th class="border-bottom">Date statut</th>
			</tr>
		</thead>
		<tbody id="tableBody">
			{% for item in data %}
				{% if item.statutOR is same as "DISPO STOCK" %}
					{# dispo stock #}
					{% set styl = "background-color: #c8ad7f; color: white;"%}
				{% elseif item.statutOR is same as "Error" or item.statutOR is same as "Back Order"  %}
					{% set styl = "background-color: red; color: white;"%}
				{% elseif item.Qte_Solde > 0 and  item.Qte_Solde != item.qte %}
					{# reception partiel  #}
					{% set styl = "background-color: #EE82EE;" %}
				{% else %}
					{% set styl = ''%}
				{% endif %}
				{# cmd frs envoyé #}
				{% set classe = item.ord is same as "ORD" ? 'background-color:#9ACD32  ; color: white;' : '' %}

				{# Statut part#}
				{% if item.status_b is same as "PARTIELLEMENT LIVRE"%}
					{% set statut = "partiellement-livre bg-warning text-white"%}
				{% elseif  item.status_b is same as "TOUT LIVRE"%}
					{% set statut = ' tout-livre bg-success text-white'%}
				{% elseif  item.status_b is same as "PARTIELLEMENT DISPO"%}
					{% set statut = ' partiellement-dispo bg-info text-white'%}
				{% elseif  item.status_b is same as "COMPLET NON LIVRE"%}
					{% set statut = ' complet-non-livre bg-primary text-white'%}
				{% elseif  item.backorder is same as "back"%}
					{% set statut = ' back-order border-end border-start border-danger border-3'%}
				{% else %}
					{% set statut = ""%}
				{% endif %}
				<tr>
					<td>{{ item.agenceServiceTravaux }}</td>
					<td>{{ item.Marque }}</td>
					<td>{{ item.Modele }}</td>
					<td>{{ item.Id }}</td>
					<td>{{ item.N_Serie }}</td>
					<td>{{ item.parc }}</td>
					<td>{{ item.casier }}</td>
					<td>{{ item.commentaire }}</td>
					<td class="{{statut}}">
						<span class="numOr-itv">{{ item.numor_itv }}</span>
					</td>
					<td>{{ item.dateplanning |date('d/m/Y')  }}</td>
					<td>{{ item.cst }}</td>
					<td>{{ item.ref }}</td>
					<td>{{ item.desi }}</td>
					<td>{{ item.qteres_or  }}</td>
					<td>{{ item.qteall_or  }}</td>
					<td>{{ item.qtereliquat  }}</td>
					<td>{{ item.qteliv_or  }}</td>
					<td style="{{styl}}">{{item.statutOR}}</td>
					<td>{{ item.datestatutOR }}</td>
					<td>{{ item.ctr_marque }}</td>
					<td>{{ item.numerocmd }}</td>
					<td style="{{classe}}">{{item.statut_ctrmq}}</td>
					<td>{{ item.numcis }}</td>
					<td>{{ item.qteORlig_cis  }}</td>
					<td>{{ item.qtealllig_cis  }}</td>
					<td>{{ item.qterlqlig_cis  }}</td>
					<td>{{ item.qtelivlig_cis  }}</td>
					<td>{{ item.statutCis }}</td>
					<td>{{ item.datestatutCis  }}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	{% include "/dit/shared/_modalNiveauUrgence.html.twig"  %}
{% endblock %}
{% block javascript %}
	<script src="{{ App.base_path }}/Views/js/utils/positionSticky.js?v=2025.10.22.08.00"></script>
	<script src="{{ App.base_path }}/Views/js/planning/agServPlanning.js?v=2025.10.22.08.00" type="module"></script>
	<script src="{{ App.base_path }}/Views/js/planning/planningListe.js?v=2025.10.22.08.00" type="module"></script>
{% endblock %}
