<p>
	La demande
	{{ daLabel }}
	n°
	<b>{{ demandeAppro.numeroDemandeAppro }}</b>
	a été
	{{ valide }}
	par
	<b>{{ fullNameUser }}</b>.
</p>
<p>
	<b>Détails de la demande:</b>
	<ul>
		<li>
			<b>Numéro de la demande :</b>
			{{ demandeAppro.numeroDemandeAppro }}
		</li>
		<li>
			<b>Objet de la demande :</b>
			{{ demandeAppro.objetDal }}
		</li>
		<li>
			<b>Détail de la demande :</b>
			<div class="espace">{{ demandeAppro.detailDal|raw }}</div>
		</li>
		<li>
			<b>
				Observation sur
				{{ validation }}
				de la demande :
			</b>
			<div class="espace">{{ observationDa|raw }}</div>
		</li>
	</ul>
</p>
<hr>
<p>Liste des articles demandés</p>
<table>
	<thead style="background-color:#000; color:#f2f2f2;">
		<tr>
			{% for headLabel, headValue in preparedDatas.head %}
				<th>{{ headValue }}</th>
			{% endfor %}
		</tr>
	</thead>
	<tbody>
		{% for row in preparedDatas.body  %}
			<tr>
				{% for headLabel, headValue in preparedDatas.head %}
					<td>{{ row[headLabel] }}</td>
				{% endfor %}
			</tr>
		{% endfor %}
	</tbody>
</table>
