<p>
	Une nouvelle demande
	{{ daLabel }}
	a été créée par
	<b>{{ fullNameUser }}</b>.
</p>
<p>
	<b>Détails du demande :</b>
	<ul>
		<li>
			<b>Numéro du DA :</b>
			{{ demandeAppro.numeroDemandeAppro }}
		</li>
		<li>
			<b>Objet de la demande :</b>
			{{ demandeAppro.objetDal }}
		</li>
		<li>
			<b>Détail de la demande :</b>
			<div class="espace">{{ demandeAppro.detailDal|raw }}</div>
		</li>
		<li>
			<b>Observation:</b>
			<div class="espace">{{ observation|raw }}</div>
		</li>
	</ul>
</p>
<hr>
<table>
	<thead style="background-color:#ffc107;">
		<tr>
			{% for headLabel, headValue in preparedDatas.head %}
				<th>{{ headValue }}</th>
			{% endfor %}
		</tr>
	</thead>
	<tbody>
		{% for row in preparedDatas.body  %}
			<tr>
				{% for headLabel, headValue in preparedDatas.head %}
					<td>{{ row[headLabel] }}</td>
				{% endfor %}
			</tr>
		{% endfor %}
	</tbody>
</table>
<br>
<hr>
